$light-border-color: #f4f8f9;
$ico-size: 53px;

.educational_content {
    .background-image-full {
        position: absolute;
        width: 100%;
        height: 100vh;
        img {
            position: fixed;
            object-fit: cover;
            height: 100vh;
            width: 100%;
        }
    }
    .img-cover {
        background: rgba(72,81,90,.8);
        height: 100vh;
        object-fit: cover;
        position: fixed;
        transition: background 1s,color 1s;
        width: 100%;
    }

    .full-page {
        align-items: center;
        border-bottom: 2px solid $light-border-color;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .left, .right {
            width: 50%;
        }
        .number {
        align-items: center;
        background: var(--middle-gray);
        border-radius: 50%;
        color: white;
        display: flex;
        font-size: 24px;
        height: 43px;
        justify-content: center;
        width: 43px;
        }
        .wrapper {
            align-items: center;
            box-sizing: border-box;
            margin-bottom: 3%;
            padding: 0 100px;
        }
        .wrapper .text {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .wrapper .left.image {
            justify-content: flex-start;
        }
        .wrapper .image {
            align-items: center;
            justify-content: center;
            img {
                max-width: 100%;
                width: 70%;
            }
        }
    }

    .full-page.transparent {
        background: transparent;
    }

    .title-container {
        margin: calc(var(--space-for-navbar)/2) auto 0;
    }

    .narrow {
    max-width: 800px;
    position: relative;
    .back-fixed {
        opacity: 1;
        left: 8px;
        position: absolute;
        a {
            line-height: $ico-size;
            i {
                line-height: $ico-size;
            }
        }
        .fa {
            font-size: 1.5rem;
        }
    }
    }

    .nav-dots {
        align-items: center;
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 42px;
        z-index: 1;
        li {
            padding-left: 20px;
            position: relative;
            a {
                display: block;
                font-size: 0;
                height: 10px;
                width: 10px;
                padding: 0;
                margin-bottom: 20px;
                border: 2px solid var(--middle-gray);
                border-radius: 50%;
            }
            &.current a, a:hover {
                border-color: var(--blue);
                background: var(--blue);
            }
            &:before {
                content: '';
                color: var(--blue);
                font-size: 20px;
                left: 0;
                position: absolute;
            }
        }
    }
    .ico-shadow {
        background: white;
        border-radius: 50%;
        box-shadow: 0 9px 34px rgba(220,220,220,.68);
        display: inline-block;
        height: $ico-size;
        position: relative;
        text-align: center;
        width: $ico-size;
        img {
            left: 50%;
            height: 30px;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .ico-shadow {
        box-shadow: 0 9px 34px var(--middle-gray);
    }
    .comparison {
        background: var(--yellow);
        display: flex;
        padding: 30px 0 25px;
        position: relative;
        text-align: center;
    }
    .footer {
        position: absolute;
    }

    .wrapper-small {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
    }
    .separator {
        width: 100%;
    }

    .comparison .table {
        align-items: flex-start;
        background: var(--white);
        box-shadow: 0 9px 34px rgba(220,220,220,.68);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0 50px;
        padding: 0;
        .left, .right {
            width: 50%;
        }
        .heading {
            margin-bottom: 45px;
            h3 {
                border-bottom: 1px solid var(--light-gray);
                font-weight: 700;
                margin: 0;
                padding: 40px 0;
            }
        }
        .point {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 15px 80px;
            .icon {
                align-items: center;
                background: var(--blue);
                border-radius: 50%;
                display: flex;
                height: 35px;
                justify-content: center;
                margin: 0 20px 0 0;
                min-width: 35px;
                &.minus {
                    background: var(--bright-orange);
                    position: relative;
                    &:after {
                        content: '-';
                        position: absolute;
                        color: white;
                        font-size: 41px;
                        left: 50%;
                        transform: translateX(-50%) translateY(-55%);
                        top: 48%;
                    }
                }
                img {
                    height: 15px;
                    width: 15px;
                }
            }
            .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            p {
                margin: 0;
            }
            }
            .title {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            }
            .subtitle {
                line-height: 26px;
                margin: 0;
                color: var(--dark-gray);
                font-size: 16px;
            }
        }
    }

    .separator .circle {
        background: var(--blue);
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        width: 6px;
    }

    .comparison {
        background: white;
        display: flex;
        padding: 30px 0 25px;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .ico-shadow.start-up {
        height: 6vw;
        width: 6vw;
        min-width: 70px;
        min-height: 70px;
        background:  var(--yellow);
        img {
            height: 60%;
        }
    }

    .image-background .circles {
        background-color: transparent;
        z-index: 0;
        &:after {
            content: '';
            height: 100vh;
            left: 0;
            max-width: 100%;
            position: absolute;
            top: 0;
            width: 100vw;
        }
    }

    .developers-page + .circles .circle {
        z-index: -1;
        position: fixed;
    }

    .circles .circle {
        border-radius: 50%;
        width: 1.4vw;
        height: 1.4vw;
        min-width: 20px;
        min-height: 20px;
        max-width: 27px;
        max-height: 27px;
        position: absolute;
        &.yellow.index1 {
            top: -1%;
            left: 24%;
        }
        &.yellow.index2 {
            top: 90%;
            left: 25%;
        }
        &.yellow.index3 {
            top: 18%;
            left: 86%;
        }
        &.orange.index1 {
            top: 49%;
            left: 19%;
        }
        &.orange.index2 {
            top: 23%;
            left: 67%;
        }
        &.orange.index3 {
            top: 83%;
            left: 93%;
        }
        &.blue.index1 {
            top: 30%;
            left: 8%;
        }
        &.blue.index2 {
            top: 6%;
            left: 63%;
        }
        &.blue.index3 {
            top: 43%;
            left: 84%;
        }
        &.green.index1 {
            top: 67%;
            left: 2%;
        }
        &.green.index2 {
            top: 18%;
            left: 33%;
        }
        &.green.index3 {
            top: 59%;
            left: 73%;
        }
    }

    .arrow-down {
        bottom: 40px;
        position: absolute;
        z-index: 1;
    }

    .arrow-down:hover {
        box-shadow: 0 9px 34px rgba(220,220,220,.68), 0 0 0 30px rgba(109,207,233,.32), 0 0 0 61px rgba(109,207,233,.2), 0 0 0 93px rgba(109,207,233,.23);
        cursor: pointer;
        transition: 600ms cubic-bezier(.165,.84,.44,1);
    }

    .advice-points {
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 80px 0 80px;
        position: relative;
        .number {
            align-items: center;
            background-color: var(--cerculean);
            border-radius: 50%;
            color: white;
            display: flex;
            font-size: 24px;
            font-weight: 600;
            height: 45px;
            justify-content: center;
            margin-right: 25px;
            min-width: 45px;
        }
        &>.row.narrow {
            display: flex;
            flex-direction: row;
            margin-bottom: 35px;
            .text h2 {
                margin-top: 0;
            }
        }
    }

    .ideas {
        bottom: auto;
        display: flex;
        margin: 70px 0 90px;
        max-width: none;
        position: relative;
        text-align: left;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        .line {
            background: var(--light-gray);
            height: calc(100% - 90px - 121px);
            left: 50%;
            position: absolute;
            top: 90px;
            width: 1px;
        }
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    .timeline .item {
        width: 50%;
        align-self: flex-start;
        position: relative;
        .number {
            display: flex;
            max-width: 45px;
            position: absolute;
            right: -48px;
            background-color: var(--middle-gray);
            top: 65px;
            z-index: 1;
        }
        .text h2 {
            font-weight: 500;
            margin-bottom: 13px;
        }
        .separator {
        color: rgb(65, 65, 65);
        width: 600px;
        .circle {
            color: rgb(65, 65, 65);
            margin-right: 0;
            margin-left: 17.5px;
            background-color: var(--middle-gray);
        }
        }
    }

    .timeline .first .number, .timeline .third .number, .timeline .fifth .number {
        left: -22px;
    }

    .timeline .first, .timeline .third, .timeline .fifth {
        align-self: flex-end;
        text-align: right;
    }
    .content.development {
        overflow-y: scroll;
        height: 100%;
        scroll-snap-type: y mandatory;
        .full-page {
            scroll-snap-align: start;
        }
        .footer {
            bottom: 0;
        }
    }
    #content-wrap {
        height: 6334px;
        background-image: url(/images/educational_content/line-v2.png);
        background-repeat: no-repeat;
        background-position: 50% 100px;
        background-size: 100% 6234px;
        margin: 0 auto;
        max-width: 1903px;
    }
    .role-item {
        left: -100px;
        margin-right: 0;
        margin-bottom: 50px;
        width: 200px;
        margin: 0 auto 50px;
        position: relative;
        &.active {
            z-index: 200;
        }
    }
    .r25 {
        margin-left: 25%;
    }
    .r66 {
        margin-left: 66%;
    }
    .r75 {
        margin-left: 75%;
    }
    .r33 {
        margin-left: 33%;
    }
    .role-person-link {
        margin-bottom: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 34px;
        display: block;
        margin: 0 auto 20px;
        width: 200px;
        text-align: center;
        color: var(--dark-gray);
        text-decoration: none;
    }
    .role-photo {
        margin-bottom: 15px;
        border: 2px solid var(--white);
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: block;
        line-height: 196px;
        color: var(--white) !important;
        font-size: 70px;
        box-shadow: 0 5px 5px rgba(0,0,0,.5);
        text-shadow: 1px 1px 0px rgba(0,0,0,.25);
        background: rgb(65,143,143);
        background: linear-gradient(135deg, rgba(65,143,143,1) 0%,rgba(223,219,113,1) 50%,rgba(239,172,82,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418f8f', endColorstr='#efac52',GradientType=1 );
    }
    .role-name {
        display: block;
    }
    .role-description {
        position: absolute;
        top: 0;
        width: 550px;
        margin: 0 auto;
        overflow: hidden;
        max-height: 0px;
        transition: max-height .5s ease-out;
        font-weight: 300;
        background-color: var(--white);
        line-height: 1.2;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        &.active {
            max-height: 1000px;
        }
        p {
            font-size: 18px;
        }
        &::before {
            content: '';
            display: block;
            background-color: var(--white);
            position: absolute;
            top: 100px;
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            box-shadow: 0 2px 5px rgba(0,0,0,.25);
        }
    }
    .description-left .role-description {
        right: 250px;
        &:before {
            right: -10px;
        }
    }
    .role-description-in {
        font-size: 18px;
        background-color: var(--white);
        padding: 18px 28px;
        position: relative;
        min-height: 150px;
    }
    .description-right .role-description {
        left: 250px;
        &:before {
            left: -10px;
        }
    }
    a:hover .role-name, a:active .role-name, a:focus .role-name {
        background: -webkit-linear-gradient(left, rgba(226,214,112,1) 0%,rgba(240,186,105,1) 33%,rgba(91,151,127,1) 66%,rgba(82,143,196,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }
    .role-item.active {
        z-index: 200;
    }
}

