@media screen and (min-width: 1920px) {
  #opening>.title .title1 {
    font-size: 96px
  }

  #opening>.title .title2 {
    font-size: 60.5px
  }

  .info.icons .container {
    width: 952px;
    margin: 0 auto
  }

  .page-scroll-show {
    padding-top: 17.8vw
  }

  .page-scroll-show .header {
    height: 18.3vw
  }
  .info-container {
    margin: 100px auto 0;
    width: 1143px;
  }
}

@media screen and (min-width: 1450px) {
  .firemni-informacni-systemy-na-miru .navigation,
  .podnikove-mobilni-aplikace .navigation {
    height: 130px
  }

  .webove-aplikace-na-miru .page-nav,
  .firemni-informacni-systemy-na-miru .page-nav,
  .podnikove-mobilni-aplikace .page-nav {
    top: 130px
  }

  .webove-aplikace-na-miru .page-offset,
  .firemni-informacni-systemy-na-miru .page-offset,
  .podnikove-mobilni-aplikace .page-offset {
    padding-top: 205px
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 3.1rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p,
  ul {
    font-size: 1.3vw
  }

  .page .initial.curve {
    font-size: 1.6vw
  }

  .page .logo-content .logo-circles .circle .text {
    font-size: 14px
  }

  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.1vw
  }

  .info.icons .container .box {
    font-size: 18px
  }

  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 60%
  }

  [class*='reference'] .desktop .info {
    font-size: 1.5vw
  }

  .page-offset p {
    font-size: 1.2vw
  }

  .page-offset ul {
    font-size: 1.15vw
  }

  .what-we-do .info-container {
    &::before {
      height: 50vh;
    }
    &::after {
      height: 40vh;
    }
  }

  // subpage

  .subpage-points{ 
    .subpage-numbers {
    top: -80px;
    }
  }

  .subpage-reference {
    margin-top: 440px;
  }
  .subpage-more-information {
    &:before {
      height: 225px;
    }
  }
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.4rem
  }

  p,
  ul {
    font-size: 1.5vw
  }

  .page .initial.curve {
    font-size: 1.8vw
  }

  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.3vw
  }


  .info.icons .container .box {
    font-size: 17px
  }

  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 65%
  }

  [class*='reference'] .desktop .info {
    font-size: 1.7vw
  }

  .page-offset p {
    font-size: 1.4vw
  }

  .page-offset ul {
    font-size: 1.35vw
  }

  //subpage

  .more-information__buttons .button {
    padding: 9px 18px;
  }
  .subpage-points {
    .subpage-numbers {
      &:after {
        height: 150px;
      }
       li .numbers {
        margin-right: 30px;
        width: 97px;
       }
    }
  }
  .subpage-reference {
    margin-top: 365px;
    padding: 0;
    margin-bottom: -1rem;
    & > div .reference {
      &:after {
        top: 107%;
      }
      &:before {
        top: -170px;
        height: 170px;
      }
    }
  }
  .subpage-more-information {
    padding: 25% 0 10%;
  }
}

@media screen and (max-width: 1200px) {
  p,
  ul {
    font-size: 1.7vw
  }

  #opening .title .title1 {
    font-size: 5.3vw
  }

  #opening .title .title2 {
    font-size: 3.35vw
  }

  #more_than_10_years .title .title1 {
    font-size: 4.5vw
  }

  #opening .our-technology, #opening .reference {
    margin-top: 120px;
  }

  .tags {
    padding: 0 20px;
  }

  .page .initial.curve {
    font-size: 2vw
  }

  .page .logo-content .logo-circles {
    width: 80vw;
    height: 26.7vw
  }

  .page .logo-content .logo-circles .circle .text {
    font-size: 13px
  }

  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.5vw
  }

  .title .info.icons .container .box {
    font-size: 16px
  }

  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 70%
  }

  [class*='reference'] .desktop .info {
    font-size: 1.9vw
  }

  .page-offset p {
    font-size: 1.6vw
  }

  .page-offset ul {
    font-size: 1.55vw
  }

  .cards {
    padding: 0;
  }

  .cards .info {
    position: static;
    width: auto;
    padding: 0 5px 20px
  }

  .cards .card {
    width: 204px;
    height: 168px
  }

  //subpage

  .webove-aplikace-na-miru, .firemni-informacni-systemy-na-miru .subpage-header .header-text h2 {
    font-size: 1.5rem;
  }

  .subpage-header, .what-we-do__header {
    .container-i-want-to-know-more {
      .button:not(:last-child) {
        margin-right: 10px;
      }
      .button {
        padding: 7px 12px;
      }
      .i-want-to-know-more {
        padding-left: 40px;
        font-size: 1.1rem;
        &:before, &:after {
          background-size: 1.8rem;
          background-position: center;
        }
      }
    }
    .header-text {
      h2 {
        font-size: 2rem;
      }
    }
  }
  .subpage-reference {
    margin-top: 400px;
  }
  .subpage-more-information {
    padding: 30% 0 10%;
  }
}

@media screen and (max-width: 1140px) {
  .kinds-of-contacts {
    .container {
      button[type=submit], a.submit {
        min-width: 150px;
      }
      .cont {
        width: 100% !important;
      }
    }
  }

  .what-we-do {
    .info .box {
      &.left img {
        padding-right: 3%;
      }
      &.right img {
        padding-left: 3%;
      }
      ul li {
        line-height: 150%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .pf-video-column {
    margin-left: -50px;
    margin-right: -50px;
  }

  #opening>.title .title2 {
    line-height: 40px;
  }

  #opening {
    .tag {
      font-size: 1rem;
      padding: 6px 12px 7px;
      i {
        margin-right: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  #more_than_10_years .title .title1 {
    font-size: 5vw
  }

  h1 {
    font-size: 2.8rem
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p,
  ul {
    font-size: 1.9vw
  }

  .page .offset {
    margin-right: 40px
  }

  .page .initial.curve {
    font-size: 2.3vw
  }

  .page .logo-content .logo-circles {
    width: 85vw;
    height: 28.3vw
  }

  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.7vw
  }

  .info.icons .container {
    padding-top: 20%;
  }

  .info.icons .container .box {
    font-size: 15px
  }

  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 80%
  }

  [class*='reference'] .desktop .info {
    font-size: 2.1vw
  }

  .page-offset p {
    font-size: 1.8vw
  }

  .page-offset ul {
    font-size: 1.75vw
  }

  .what-we-do {
    .back-fixed {
      left: var(--space-sm)
    }
    .info-container {
      padding: 0;
      margin: 6rem 0 0;
      .what-is h2 {
        text-align: center;
      }
      .info h2 {
        text-align: start;
      }
      &:after {
        bottom: -12vh;
      }
      .info-container__content {
        padding: 0 var(--space-sm);
        &:before {
          height: 9vh;
          bottom: -11.5vh;
        }
        &:after {
          height: 9vh;
          bottom: -22vh;
        }
      }
    }
    .info .box {
      overflow: hidden;
      &.right, &.left {
        flex-direction: column;
        img {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 5rem;
          width: 60%;
          margin-left: auto;
          object-position: right;
        }
      }
    }
    .tags {
      padding-top: 25vh;
    }
  }

  //subpage

  .subpage-header, .what-we-do__header {
    .container-i-want-to-know-more {
      margin-left: 20px;
    }
    .intro-text-container {
      width: 100% !important;
      .back-fixed {
        left: 20px;
      }
    }
    .header-text {
      margin-left: 20px;
     h1 {
       font-size: 2rem;
     }
      h2 {
        font-size: 1.7rem;
      }
    }
      .intro-image-container {
        width: 75%;
        top: 32%;
        right: 4%;
        bottom: unset;
      }
  }

  .subpage-points {
    margin-top: 196px;
    .subpage-numbers {
      top: 50px;
      width: 88%;
      li:not(:first-child) {
        margin-top: 65px;
      }
    }
  }
  .subpage-reference {
    margin-top: 375px;
    margin-bottom: -9rem;
    max-height: 465px;
  }
  .subpage-more-information {
    padding: 50% 0 20%;
    &:before {
      top: 22%;
    }
  }
}

@media screen and (max-width: 860px) {
  .kinds-of-contacts {
    height: 100%;
    margin-top: 60px;
    .container {
      padding: 40px 0;
      padding: 135px 0 40px;

      .row {
        flex-direction: column;
        align-items: center;

        .col {
          margin: 0 auto;
          width: 80%;
          margin-top: 24px;

          &.col2 {
            .sub-title {
              margin-bottom: 14px !important;
            }

            .submit {
              display: none;
            }
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  .social-icons {
    padding-bottom: 25px !important;
    display: flex;
  }

  .col-offset-40 {
    margin-left: 0%;
  }

  .icons-container {
    margin-top: 0px;
    padding-bottom: 40px;
  }

  .icons-container .text {
    text-align: center;
  }

  .content.ref-list {
    padding-top: 120px;
    margin-top: 0;
  }

  .content.ref-list .row {
    margin-bottom: 0;
  }

  [class*='reference'] .desktop {
    display: none;
  }

  p,
  ul {
    font-size: 18px
  }

  .row {
    width: 100% !important
  }

  .row .col-25,
  .row .col-2908,
  .row .col-30,
  .row .col-30vw,
  .row .col-33,
  .row .col-35,
  .row .col-35vw,
  .row .col-40,
  .row .col-50,
  .row .col-60,
  .row .col-70 {
    width: 100% !important;
    overflow: hidden;
  }

  .col-offset-02 {
    margin-left: 0%;
  }

  .contacts {
    display: block;
  }

  .contact-maps {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0px;

    .img-maps {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .navigation {
    height: 80px;
    z-index: 4;
  }

  .navigation #logo {
    height: 90px;
    width: 1368px;
    margin-left: -20px;
    padding-top: 30px;
    transition: all .3s;
  }

  .navigation #logo_box {
    width: 200px;
    height: 75px;
    top: 5px;
    left: 35px
  }

  .navigation .navbar li a {
    display: none
  }

  .navigation .navbar li #menu_open,
  .navigation .navbar li.close a {
    display: block;
    left: 25px
  }

  .navigation .navbar li.close {
    margin-right: -10px
  }

  #opening address {
    font-size: 17px;
    line-height: 140%;
    padding-top: 10px;
  }

  #opening>.title .title1,
  #opening>.title .title2 {
    padding: 0 15px
  }

  #opening>.title .title1 {
    font-family: Raleway-Light;
    font-size: 37px !important;
    font-weight: 700;
    margin-bottom: 15px
  }

  #opening>.title .title2 {
    font-size: 22px !important;
    line-height: 130%;
    opacity: 0.7
  }

  .info.icons {
    margin-left: 5%;
    margin-right: 5%;
  }

  .info.icons .container .box {
    text-align: center;
    height: auto;
  }

  .info.icons .container .box img {
    position: static
  }

  #opening .circles {
    margin-top: 80px
  }

  #opening .circles .circle {
    min-width: 17px;
    min-height: 17px
  }

  #opening .our-technology,
  #opening .reference {
    margin-top: 75px
  }

  .our-technology .cards {
    padding-left: 0;
    .card {
      width: 290px;
    }
  }

  #opening .reference .circles-box .circle {
    margin: 0
  }

  #opening .reference .circles-box .circle:nth-child(even) {
    top: 0
  }

  .wavy-background {
    top: 30%;
    height: 70%;
  }
  
  #more_than_10_years {
    background-size: auto 100%;
    background-position: right
  }

  #more_than_10_years .title .title1 {
    font-size: 30px;
    line-height: 130%;
    padding: 0 15px
  }

  .page .offset {
    margin-top: 110px
  }

  .page .offset h2 {
    margin-bottom: 10px
  }

  .page .offset h3 {
    margin: 10px 0
  }

  .page .logo-content .info {
    margin-bottom: 25px
  }

  .page .logo-content .info h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .page .logo-content .info h4 {
    font-family: Raleway-light;
    font-weight: normal;
    opacity: 0.7;
    padding: 0 15px;
    margin-top: 8px
  }

  .page .logo-content .logo-circles {
    display: none
  }

  .page .logo-content .iqw-nav {
    padding: 0 25px;
    overflow-x: hidden
  }

  .page .logo-content .iqw-nav .initial {
    width: 100%
  }

  .page .logo-content .iqw-nav .initial img {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px
  }

  .page .logo-content .iqw-nav .initial .text {
    font-size: 19px;
    line-height: 130%;
    text-align: left
  }

  .page .scroll-content {
    position: initial
  }

  .page .scroll-content .page.horizontal .scroll-down {
    display: block !important
  }

  .page .scroll-down .box {
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }

  .page.inverse .offset {
    padding-left: 10px;
    padding-right: 30px
  }

  .page.inverse .offset .initial img {
    display: none
  }

  .page#we_connect_techno .offset {
    margin-bottom: 45px
  }

  [class*='why-iquest'] .content .pillar,
  [class*='proc-iquest'] .content .pillar {
    padding: 20px
  }

  [class*='why-iquest'] .content .pillar img,
  [class*='proc-iquest'] .content .pillar img {
    width: 55px;
    height: 55px
  }

  [class*='why-iquest'] .content .pillar h1,
  [class*='proc-iquest'] .content .pillar h1,
  [class*='why-iquest'] .content .pillar h2,
  [class*='proc-iquest'] .content .pillar h2,
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    margin-left: 0
  }

  [class*='why-iquest'] .content .pillar h1,
  [class*='proc-iquest'] .content .pillar h1 {
    margin-bottom: 10px
  }

  [class*='why-iquest'] .content .pillar h2,
  [class*='proc-iquest'] .content .pillar h2 {
    margin: 0;
    font-family: Raleway-light
  }

  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 90%
  }

  [class*='why-iquest'] .content .pillar.active,
  [class*='proc-iquest'] .content .pillar.active {
    padding: 30px
  }

  [class*='why-iquest'] .content .pillar.active h2,
  [class*='proc-iquest'] .content .pillar.active h2 {
    font-family: Raleway-medium
  }

  .scroll-left,
  .scroll-right,
  .mobile-hide {
    display: none
  }

  #large_applications {
    top: 0;
    left: 0
  }

  #we_connect_people {
    top: 100%;
    left: 0
  }

  #we_connect_tasks {
    top: 200%;
    left: 0
  }

  #we_connect_techno {
    top: 300%;
    left: 0
  }

  [class*='contact'] .box {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
    width: auto;
    position: inherit;
  }

  [class*='contact'] .box .logo {
    margin-left: -50px;
    margin-top: -20px;
    height: 100px
  }

  [class*='reference'] .navigation {
    background-color: white;
    box-shadow: 0 10px 10px white
  }

  [class*='reference'] .desktop {
    position: initial;
    top: 100px;
    padding: 100px 20px 60px
  }

  [class*='reference'] .desktop .info {
    background-color: rgba(69, 144, 175, 0.95);
    color: white;
    font-size: 17px;
    height: 45px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    padding: 5px 15px
  }

  [class*='reference'] .desktop .info b {
    color: white
  }

  [class*='reference'] .desktop a .inner {
    border-top: 1px dashed #bbb;
    text-align: center
  }

  [class*='reference'] .desktop a .inner img {
    max-width: 210px;
    max-height: 120px;
    margin: 15px 0
  }

  .technologie .page-offset:not(.page-scroll-show) {
    padding: 105px 25px 0
  }

  .page-scroll-show {
    padding: 105px 0 0
  }

  .page-scroll-show .header {
    background-image: none !important
  }

  .page-scroll-show .header .logo {
    display: none
  }

  .page-scroll-show .content {
    box-shadow: none;
    padding: 25px
  }

  .page-scroll-show .content .back {
    margin-bottom: 7px
  }

  .page-scroll-show .content .logo {
    max-width: 210px;
    padding-right: 25px
  }

  .page-scroll-show .content .icons,
  .page-scroll-show .content .skills {
    margin-left: 0
  }

  .page-scroll-show .content .icons {
    text-align: center;
    margin-top: 10px
  }

  .page-scroll-show .content .icons img {
    max-width: 60px;
    padding: 0 15px
  }

  .page-scroll-show .content .page-scroll-left,
  .page-scroll-show .content .page-scroll-right {
    display: none
  }

  .page-offset p {
    font-size: 18px
  }

  .page-offset ul {
    font-size: 17px
  }

  .what-we-do .title {
    overflow: hidden;
  }

  .what-we-do .v-center {
    display: block !important;
  }

  .back-fixed {
    display: none
  }

  .volne-offset {
    padding-top: 135px;

    .h1-volne {
      margin: 0 15px 20px;
      text-align: left;
      font-family: Raleway-Light;
      font-size: 37px;
      font-weight: bold;
      line-height: 115%;
    }

    .col-offset-10 {
      margin-left: 0;
    }

    .volne-dev-h1 {
      font-size: 2em;
      margin-top: 20px;
    }

    .volne-dev-h1,
    .volne-text-p {
      padding: 0 15px;
      font-weight: 500;
    }
  }

  .mobilni-aplikace-nove-generace {
    .multi-platform {
      margin: 45px 0;

      p {
        font-size: 17px;
        margin-bottom: 40px;
      }
    }

    .row .col-20 {
      width: 100%;
    }

    .path-box {
      margin: 25px 0;

      p.small {
        font-size: 18px;
      }
    }
  }

  .developers {
    padding-top: 135px;

    .developers-h1 {
      color: #1e1e1e;
      margin: 0 15px 20px;
      text-align: left;
      font-family: Raleway-Light;
      font-size: 37px !important;
      font-weight: bold;
      line-height: 115%;
    }

    .developers-h2 {
      font-family: Raleway-Light;
      font-size: 2em !important;
      padding: 0 15px;
      color: #008780;
      margin-top: 40px;
    }

    .col-offset-10 {
      width: 100%;
      margin-left: 0;
    }

    .col-offset-5 {
      margin-left: 0;
    }

    .developers-hr {
      width: 100%;
    }

    .developers-p,
    .developers-p2 {
      padding: 0 15px;
    }

    .row .col-20 {
      margin-left: 0;
      width: 100%;
    }

    .img-developers {
      width: 100%;
      margin: 0;
    }
  }

  footer.footer .container {
    padding-left: 0;
    padding-right: 0;
    .col-33 {
      text-align: center!important;
      margin-bottom: 40px;
    }
  }

  .not-only-money>.page-offset {
    padding: 105px 25px 20px
  }

  .not-only-money>.page-offset>.title {
    height: auto
  }

  .not-only-money>.page-offset>.title .heart {
    background-position: center top;
    background-size: 100%
  }

  .not-only-money>.page-offset>.title h1 {
    margin-top: 30px;
    font-size: 33px
  }

  .not-only-money>.page-offset>.title h2 {
    font-size: 21px
  }

  .not-only-money>.page-offset .box {
    margin-bottom: 30px
  }

  .not-only-money>.page-offset .box .image {
    display: none
  }

  .not-only-money>.page-offset .box .text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1
  }

  .not-only-money>.page-offset .box .text h3 {
    font-size: 25px
  }

  .not-only-money>.page-offset .box .text p {
    text-align: center
  }

  .not-only-money .thumbs {
    margin: 50px 0
  }

  .not-only-money .thumbs .circle {
    width: 75%
  }

  .not-only-money .thumbs .text {
    margin: 0 0 50px
  }

  .icons-container .img-wrap {
    width: 80px;
    height: 80px;
  }

  .steps {
    background-image: none;
    height: auto;
  }

  .steps .container .row .col {
    display: inline-block;
    padding-top: 30px;
    width: 100%;
  }

  .x404 {
    .container {
      padding-left: 40px;
      padding-right: 40px;
      background-position: center bottom;
      background-size: 50vh;
    }
  }

  .contact-text {
    height: 100vh;
    overflow-y: auto;
  }

  .what-we-do {
    .info-container {
      margin-top: 10rem;
      .contact-button {
        padding: 0 25px;
        letter-spacing: 2px;
        font-size: 1rem;
      }
    }
    .info .box {
      &.right, &.left {
        img {
          padding-bottom: 3rem;
          width: 100%;
          margin-left: unset;
        }
      }
    }
  }

  .technologie {
    text-align: center;
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  //subpage 
  .subpage-header, .what-we-do__header {
    margin-top: var(--space-for-navbar) / 2;
    height: auto;
    margin-top: 4vh;
    .intro-text-container {
      width: 100% !important;
      height: auto;
      .back-fixed {
        left: 10px;
      }
    }
    .header-text {
      position: relative;
      padding: 120px 20px 0 20px;
      box-sizing: border-box;
      text-align: center;
      left: 0;
      height: auto;
      margin-bottom: 26px;
      margin-left: 0;
      width: 100%;
    }
    .container-i-want-to-know-more {
      display: flex;
      width: 100%;
      min-width: unset;
      margin-left: 0;
      flex-direction: column;
      position: relative;
      left: 0;
      font-size: 0.9rem;
      .button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
      .button {
        padding: 11px 29px;
      }
      .i-want-to-know-more {
        padding-left: 40px;
        font-size: 1.1rem;
        &:before {
          background-size: 1.8rem;
          background-position: center;
        }
      }
    }
    .intro-image-container {
      position: relative;
      overflow: visible;
      margin-left: 0;
    }
  }
  .subpage-points {
    margin-top: 48px;
    padding-bottom: 40px;
    .subpage-numbers {
      top: -30px;
      padding-left: 0;
      li {
        flex-direction: column;
        align-items: center;
        text-align: center;
        .numbers {
          margin-right: 0;
          margin-bottom: 30px;
          width: 70px;
      }
      }
      li:not(:first-child) {
        margin-top: 40px;
      }
      &:after {
        top: 100%;
      }
    }
  }
  .subpage-reference {
    margin-top: 365px;
    max-height: 650px;
  }
  .subpage-more-information {
    padding: 67% 0 20%;
    .container-i-want-to-know-more {
      .button:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}

@media screen and (max-width: 715px) {
  .subpage-reference {
    margin-top: 425px;
  }
}

@media screen and (max-height: 870px) {
  .info.icons .container {
    padding-top: 14%;
  }
}

@media screen and (max-height: 800px) {
  .info.icons .container {
    padding-top: 10%;
  } 
}

@media screen and (max-height: 700px) and (min-width: 768px) {

  #opening > .title {
    height: 70vh;
  }

  .main-container {
    height: 30vh;
    .wavy-background {
      top: 20%;
    }
  }
  .info.icons .container {
    padding-top: 3%;
  }
  .info .icons-container {
      a.box {
        flex-direction: row !important;
        .text {
          padding-left: 10px;
          text-align: start;
        }
        &:not(:last-child) {
          margin-right: 15px;
          
        }
      }
      img {
        max-width: 64px !important;
        max-height: 64px !important;
      }
  }
  .webove-aplikace-na-miru, .firemni-informacni-systemy-na-miru .subpage-header {
    h1 {
      font-size: 4.5vh; 
    }
    h2 {
      font-size: 3vh;
    }
  }
}

@media screen and (max-height: 700px) {
  .why-iquest,
  .proc-iquest {
    .pillar-3 {
      background-size: auto 61px;
      background-position: bottom -10px right -50vw !important;
    }

    .pillar-4 {
      background-size: auto 61px;
      background-position: bottom -10px right !important;
    }

    .to-home {
      width: 140px;
      height: 44px;
      position: fixed;
      display: block;
      right: 30px;
      bottom: 6px;
    }
  }
  #presentation .logo-content .info {
    display: none;
  }
}


@media screen and (max-width: 580px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .main-container {
    height: auto;
    margin-top: 4rem;
    opacity: .9;
    overflow: hidden;
    .wavy-background {
      width: 200%;
      top: 0%;
      height: 100%;
    }
  }
  .info.icons .container {
    flex-direction: column;
    align-items: center;
    .box {
      margin-top: 1rem !important;
    }
  }

  .icons-container .img-wrap {
    width: 120px;
    height: 120px;
  }

  .contact-telefon {
    display: none;
  }

  a.contact-bubble.fixed {
    width: 60px;
    height: 60px;
    left: 50%;
    bottom: 24px;
    margin-left: -30px;

    &>div,
    & .text {
      display: none !important;
    }

    & .icon {
      padding-top: 4px;
      display: table-cell;
      font-size: 24px;
    }
  }

  .iquest-way {
    a.contact-bubble {
      &.page-5 {
        background-color: #EFAC52;
      }
    }
  }

  .success .success-icon {
    font-size: 60px;
  }

  .success>.page-offset {
    padding: 128px 50px 20px;
  }

  .success>.page-offset>.title h1 {
    margin-top: 36px;
    font-size: 40px;
  }

  .kinds-of-contacts {
    .container {
      .col {
        width: 100% !important;
      }
    }
  }

  .x404 {
    .container {
      padding: 140px 40px 0 40px;
      background-position: center bottom;
      background-size: 100vw;
      margin-bottom: 40px;
    }

    h1 {
      font-size: 5em !important;
    }

    h1,
    h2 {
      width: 100%;
      text-align: center;
    }
  }

  //subpage 
  .subpage-reference {
    margin-bottom: -3px;
    max-height: 671px;
    & > div .reference {
      &:after {
        top: 102%;
        height: 90px;
      }
    }
  }
  .subpage-more-information  {
    padding: 30% 0 20%;
    &:before {
      top: 13%;
      height: 90px;
    }
    .more-information__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button {
        margin-right: 0;
        margin-top: 1.5rem;
      }
    }
  }
}

@media screen and (max-height: 500px) {
  #opening address {
    font-size: 17px;
    padding-top: 95px
  }

  #opening .title .title1 {
    font-size: 25px !important;
    margin-bottom: 10px
  }

  #opening .title .title2 {
    font-size: 18px !important;
  }

  #more_than_10_years .title .title1 {
    font-size: 22px !important;
  }

  [class*='why-iquest'] .content .pillar:not(.active) h2,
  [class*='proc-iquest'] .content .pillar:not(.active) h2 {
    display: none
  }

  [class*='contact'] .box table {
    font-size: 15px
  }

  [class*='contact'] .box table tr td:first-child {
    font-size: 14px
  }

  [class*='contact'] .box p {
    font-size: 13px
  }
}

//subpage media 

@media screen and (max-width: 550px) {
  [class*="why-iquest"] .content, [class*="proc-iquest"] .content {
    position: static;
    .pillar {
      min-height: 25vh;
      position: static;
      padding-bottom: 60px;
      &.active {
        position: absolute;
        height: 100vh;
      }
    }
    .pillar.pillar-3 {
      background-image: none;
    }
    .to-home {
      display: none;
    }
  }
  .subpage-points {
    .subpage-numbers {
      li .numbers {
      width: 50px;
      }
      &:after {
        top: 99%;
      }
    }
  }
  .page .scroll-content {
    height: unset;
  }
  .page {
    position: static;
    top: unset !important;
    .offset {
      margin-top: unset;
      margin-right: 0;
      position: static;
      padding-top: 80px;
      padding-bottom: 40px;
      text-align: center;
      ul {
        text-align: start;
      }
    }
  }

  #we_connect_techno.page .offset {
    margin-bottom: 0;
}
}

@media screen and (max-width: 420px) {
  .subpage-reference {
    max-height: 925px;
  }
}

@media screen and (max-width: 432px) {
  .subpage-reference {
    margin-top: 650px;
  }

  .subpage-more-information {
    padding: 47% 0 20%;
  }
}