$subpage-margin-lg: 60px;

@mixin dots {
  content:"";
  position: absolute;
  left: 50%;
  margin-left: -1px;
  margin-top: 0;
  width: 2px;
}

.subpage {
    overflow: hidden;
    .back-fixed {
      top: 0;
    }
  }

.subpage-header {
  z-index: 3;
  position: relative;
}

.subpage-buttons-container {
  .button {
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--blue), var(--green));
    border: 2px solid var(--green);
    color: white;
    z-index: 1;
    cursor: pointer;
    border-radius: 41px;
    padding: 20px 32px;
    &:hover {
      color: black;
      border: 2px solid black;
      background: white;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
  
.subpage-intro {
    height: calc(100vh - #{var(--space-for-navbar)});
    margin-top: var(--space-for-navbar);
    overflow-x: hidden;
    .col-40,
    .col-60 {
      height: 100%;
    }
    .col-40 {
      .header-text {
        position: absolute;
        top: 10%;
        left: $subpage-margin-lg;
        right: -113px;
        z-index: 3;
      }
      .subpage-buttons-container {
        bottom: 8%;
        left: $subpage-margin-lg;
        position: absolute;

        // TODO: why doesnt work

        .i-want-to-know-more {
          vertical-align: middle;
          padding-left: 50px;
          display: inline-block;
          cursor: pointer;
          font-size: 20px;
          color: #000;
          text-decoration: none;
          position: relative;
          height: 34px;
          line-height: 34px;
        }
        
        .i-want-to-know-more:before,
        .i-want-to-know-more:after {
          content: "";
          width: 35px;
          height: 34px;
          position: absolute;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          transition: opacity 0.2s linear;
        }
        .i-want-to-know-more:before {
          opacity: 1;
          background-image: url(../images/icon-view-more.png);
        }
        .i-want-to-know-more:after {
          opacity: 0;
          background-image: url(../images/icon-view-more-hover.png);
        }
        .i-want-to-know-more:hover:before,
        .i-want-to-know-more:active:before,
        .i-want-to-know-more:focus:before {
          opacity: 0;
        }
        .i-want-to-know-more:hover:after,
        .i-want-to-know-more:active:after,
        .i-want-to-know-more:focus:after {
          opacity: 1;
        }
        .i-want-to-know-more span {
          vertical-align: middle;
          transition: transform 0.2s linear;
        }
      }
    }
    .col-60.image-container {
      .smartphone-image {
        width: 57%;
        max-width: 650px;
        position: absolute;
        z-index: 1;
        &:nth-child(1) {
          top: -12%;
          left: 6%;
        }
        &:nth-child(2) {
          top: -37%;
          left: 26%;
        }
        &:nth-child(3) {
          top: 55%;
          left: -2%;
        }
        &:nth-child(4) {
          top: 31%;
          left: 18%;
        }
        &:nth-child(5) {
          top: 6%;
          left: 39%;
        }
        &:nth-child(6) {
          top: -19%;
          left: 60%;      
        }
        &:nth-child(7) {
          top: 66%;
          left: 33%;
        }
        &:nth-child(8) {
          top: 36%;
          right: -10%;
        }
      }
    }
}
  
.subpage-points {
    background-color: var(--middle-gray);
    width: 100%;
    position: relative;
    padding-top: 25px;
    margin-top: 305px;
    height: 1300px;
    z-index: 2;
    .subpage-numbers {
      color: white;
      list-style: none;
      width: 70%;
      margin: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -157px;
      li .numbers {
        margin-right: 40px;
        width: 120px;
        max-height: 200px;
        div {
          padding-left: 70px;
          p {
            font-family: Raleway-Light;
          }
        }
      }
      li:not(:first-child) {
        margin-top: 120px;
      }
      &:after {
        @include dots;
        height: 300px;
        top: 100%;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAARCAYAAAD39H0RAAAAG0lEQVR42mL6DwVMDFDAAsSMIAZcZEAYAAEGAKyECB6X8Cx+AAAAAElFTkSuQmCC);
      }
    }
    &:before {
      content: "";
      background-color: var(--middle-gray);
      height: 55vw;
      z-index: -1;
      position: absolute;
      top: -27vw;
      transform: skewY(-28deg);
      width: 100%;
    }
    &:after {
      content: "";
      background-color: var(--middle-gray);
      height: 50vw;
      z-index: -1;
      position: absolute;
      bottom: -12vw;
      transform: skewY(11.77deg);
      width: 100%;
    }
}

.subpage-reference {
    margin-top: 530px;
    transform: skewY(-11.77deg);
    transform-origin: bottom right;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 0 4%;
    &>div {
      transform: skewY(11.77deg) translateY(-40%);
      .reference {
        &:before {
          @include dots;
          height: 300px;
          top: -94%;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAARCAYAAAD39H0RAAAAH0lEQVR42mLx9I/+zwAETAxQwPj/P1gAITIgDIAAAwC9QwUTYvKcrwAAAABJRU5ErkJggg==);
        }
        &:after {
          @include dots;
          height: 190px;
          top: 120%;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAARCAYAAAD39H0RAAAAH0lEQVR42mLx9I/+zwAETAxQwPj/P1gAITIgDIAAAwC9QwUTYvKcrwAAAABJRU5ErkJggg==);
        }
      }
    }
}

.subpage-more-information {
  background-image: url("/images/web_application_development_back.jpg");
  background-attachment: fixed;
  color: white;
  background-color: var(--dark-gray);
  text-align: center;
  padding: 25% 0 20%;
  position: relative;
  background-blend-mode: exclusion;
  &:before {
    @include dots;
    height: 300px;
    top: 9%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAARCAYAAAD39H0RAAAAG0lEQVR42mL6DwVMDFDAAsSMIAZcZEAYAAEGAKyECB6X8Cx+AAAAAElFTkSuQmCC);
}
}

.bg-stretch {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.text-gradient {
  background: -webkit-linear-gradient(135deg, var(--green), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}