// Design manual
$analyze:#F2E999;
$connect:#73CFE9;
$deliver:#009482;
$process:#00AFAC;

// Design manual -> to colors
$blue: $connect;
$dark-blue: $process;
$green-dark: #397d7d;
$yellow: $analyze;

// Mod colors
$blue-dark:#4590af;
$black-light: #525252;
$green: #9ed8cc;
$grey-dark: #b7b7b7;
$orange-dark:#f1b769;
$orange:#fdd7a8;
$yellow-dark:#dfdb71;
