<a href="/kontakt" class="contact-bubble fixed orange-dark">
  <div class="bubble-1 delay-1 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-2 delay-3 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-3 delay-2 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <span class="text">Kontaktujte nás</span>
  <span class="icon"><i class="fa fa-phone"></i></span>
</a>
