<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-100">
				<div class="row">
					<div class="col-33">
						<div class="inner">
							<h3 class="text-yellow">Kancelář Brno</h3>
							<p>iQuest s.r.o.</p>
							<p>Cejl 494/25</p>
							<p>602 00 Brno</p>
							<p class="text-yellow">
								<% link_to t('urls.contact') do %>
									<%= t('footer.map') %> <i class="fa fa-lg fa-arrow-circle-right"></i>
								<% end  %>
							</p>
						</div>
					</div>
					<div class="col-33 text-center">
						<div class="inner">
							<h3 class="text-orange">Sídlo a centrála Praha</h3>
							<p>	iQuest s.r.o.</p>
							<p> Sněmovní 9</p>
							<p> 118 00 Praha 1 - Malá strana </p>	
							<p class="text-orange">
								<% link_to t('urls.contact') do %>
									<%= t('footer.map') %> <i class="fa fa-lg fa-arrow-circle-right"></i>
								<% end  %>
							</p>
						</div>
					</div>
					<div class="col-33 text-right text-orange">
						<div class="inner">
							<br />
							<br />
							<p>
								<a href="tel:+420777314768" class="c-phone"><i class="fa fa-phone"></i> 777 314 768</a>
							</p>
							<p>
								<i class="fa fa-envelope p-r-1"></i> <a href="mailto:vyvojari@iquest.cz">vyvojari@iquest.cz</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />
		<div class="flex justify-center row">
			<a href="https://www.facebook.com/iquest.cz" class="c-facebook", aria-label="facebook stránka"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/iQuestCZ" class="c-twitter"><i class="fa fa-twitter", aria-label="twitter profil"></i></a>
			<a href="https://www.linkedin.com/company/iquest-s-r-o-/?originalSubdomain=cz" class="c-linkedin", aria-label="linkedin profil"><i class="fa fa-linkedin"></i></a>
		</div>
		<br />
	</div>
</footer>
