---
title: Backend developer v Praze | iQuest s.r.o.
subtitle: Do našeho týmu přijmeme vývojáře, který umí nebo se chce naučit tvořit webové a mobilní aplikace. U nás se potkáš s technologiemi jako Ruby on Rails, SQL databáze, Redis, GiD a Heroku.
---
<div class="page-offset developers">
  <div class="circles">
    <div class="bg-point4 circle index1 orange" data-aos="zoom-in"></div>
    <div class="bg-point5 circle index2 orange" data-aos="zoom-in"></div>
    <div class="bg-point6 circle index3 orange" data-aos="zoom-in"></div>
    <div class="bg-point1 circle index1 yellow" data-aos="zoom-in"></div>
    <div class="bg-point2 circle index2 yellow" data-aos="zoom-in"></div>
    <div class="bg-point3 circle index3 yellow" data-aos="zoom-in"></div>
    <div class="bg-point7 circle index1 blue" data-aos="zoom-in"></div>
    <div class="bg-point8 circle index2 blue" data-aos="zoom-in"></div>
    <div class="bg-point9 circle index3 blue" data-aos="zoom-in"></div>
    <div class="bg-point10 circle index1 green" data-aos="zoom-in"></div>
    <div class="bg-point11 circle index2 green" data-aos="zoom-in"></div>
    <div class="bg-point12 circle index3 green" data-aos="zoom-in"></div>
  </div>
  <div class="row" style="position:relative;">
    <div class="back-fixed" data-aos="fade-left">
      <a href="<%= t('urls.volne_pozice') %>"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="col-offset-10 col-80">
      <h1 class="developers-h1" data-aos="fade-up">Ruby on Rails vývojář - senior, junior, student<br />Kancelář Praha -
        Malá Strana nebo Brno - Cejl</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-offset-10 col-20">
      <img alt="hledá se backend developer v Praze" class="img-developers" data-aos="fade-right"
        src="/images/Backend.jpg">
    </div>
    <div class="col-60">
      <p class="developers-p" data-aos="fade-up">
        Do našeho týmu přijmeme programátora, který umí nebo se chce naučit tvořit velké, zajímavé a funkční <u>webové
          aplikace a webové informační systémy pro firmy</u>.
      </p>
      <p class="developers-p" data-aos="fade-up">
        Vyvíjíme rozsáhlé weby, informační systémy a mobilní aplikace pro <u>zajímavé zákazníky</u>.
      </p>
      <p class="developers-p" data-aos="fade-up">
        Pozice je vhodná pro <u>senior developera</u> i pro šikovného <u>juniorního programátora</u>, který se třeba
        nyní věnuje tvorbě běžných webů a chce se posunout dále. Máme rádi i <u>studenty</u>, kteří mají spoustu nadšení
        a chtějí si zkusit třeba jen na zkrácený úvazek vyvíjet profesionální aplikace.
      </p>
      <p class="developers-p2" data-aos="fade-up">
        V našem mladém kolektivu spolu pracujeme dlouhodobě ve stejném složení a rosteme. Snažíme se jeden druhému
        pomáhat a hlavně vždy společně směřovat k nejlepšímu výsledku pro naše zákazníky i uživatele. Dbáme na dokonalé
        UX a UI. Klademe důraz na čistě napsaný kód, který je nezbytný pro vývoj velkých aplikací.
      </p>
      <p class="developers-p2" data-aos="fade-up">
        <b>V našem týmu se toho můžeš <u>hodně naučit</u>, senior vývojáři rádi pomáhají mladším kolegům. A my se taky
          rádi naučíme nové věci od tebe.</b>
      </p>
      <p class="developers-p2" data-aos="fade-up">
        U nás se potkáš se zajímavými technologiemi, zejména s <b>Ruby on Rails</b>, ale na frontendu můžeš dělat v
        <b>ReactJS</b> a <b>React Native</b>.
      </p>
    </div>
  </div>

  <hr class="developers-hr">
  <div class="row">
    <div class="col-offset-10 col-40" data-aos="fade-right">
      <h2 class="developers-h2">Jak to chodí v iQuestu:</h2>
      <ul class="developers-list">
        <li>Dáváme si záležet na precizním zadání.</li>
        <li>Programátor má stále k dispozici pečlivého testera.</li>
        <li>Trávíme měsíčně stovky hodin výzkumem a učením se nových věcí.</li>
        <li>Každý projekt začínáme s novějšími technologiemi.</li>
        <li>Máme časový prostor na kvalitní zpracování zakázky.</li>
        <li>Nemáme směrnice a rigidní pravidla.</li>
        <li>Jedeme na výsledky, ne na “odškrtnutí” úkolu.</li>
        <li>Zúčastňujeme se mezinárodních konferencí.</li>
        <li>Junior vývojář má k dispozici zkušeného kolegu, který mu pomáhá v růstu.</li>
      </ul>
    </div>
    <div class="col-offset-5 col-35" data-aos="fade-left">
      <h2 class="developers-h2">Od kandidáta požadujeme:</h2>
      <ul class="developers-list">
        <li>Znalost Ruby on Rails.</li>
        <li>Zájem o vývoj software a ochotu učit se.</li>
        <li>Schopnost pracovat v týmu.</li>
        <li>Spolehlivost a smysl pro zodpovědnost.</li>
        <li>Abychom si v týmu “sedli” osobně. Držíme si v iQuestu dobrou partu a dobrou atmosféru.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-offset-10 col-40" data-aos="fade-right">
      <h3>Chceš se nezávazně pobavit o spolupráci?<br />Pošli své CV na <a
          href="mailto:vyvojari@iquest.cz">vyvojari@iquest.cz</a></h3>
    </div>
  </div>
</div>

<%= partial 'footer' %>
