---
title: Frontend developer in Prague | iQuest s.r.o.
subtitle: We will accept a frontend developer to our team. You will get in touch with interesting technologies in our company, such as Cordova and Ember JS, you will work for multiple platforms.
---
<div class="page-offset developers">
	<div class="circles">
		<div class="bg-point4 circle index1 orange" data-aos="zoom-in"></div>
		<div class="bg-point5 circle index2 orange" data-aos="zoom-in"></div>
		<div class="bg-point6 circle index3 orange" data-aos="zoom-in"></div>
		<div class="bg-point1 circle index1 yellow" data-aos="zoom-in"></div>
		<div class="bg-point2 circle index2 yellow" data-aos="zoom-in"></div>
		<div class="bg-point3 circle index3 yellow" data-aos="zoom-in"></div>
		<div class="bg-point7 circle index1 blue" data-aos="zoom-in"></div>
		<div class="bg-point8 circle index2 blue" data-aos="zoom-in"></div>
		<div class="bg-point9 circle index3 blue" data-aos="zoom-in"></div>
		<div class="bg-point10 circle index1 green" data-aos="zoom-in"></div>
		<div class="bg-point11 circle index2 green" data-aos="zoom-in"></div>
		<div class="bg-point12 circle index3 green" data-aos="zoom-in"></div>
	</div>
	<div class="row" style="position:relative;">
		<div class="back-fixed" data-aos="fade-left">
			<a href="/volne-pozice"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
		</div>
		<div class="col-offset-10 col-80">
			<h1 class="developers-h1" data-aos="fade-up">Frontend developer</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-offset-10 col-20">
			<img alt="hledá se frontend developer v Praze" class="img-developers" data-aos="fade-right"
				src="/images/Frontend.jpg">
		</div>
		<div class="col-60">
			<p class="developers-p" data-aos="fade-up">
				We will accept a programmer to our team, who can or want to learn, how to create web and mobile applications .
				The position is suitable for both a senior developer and a skilled programmer, who is now in the process of
				creating common websites and wants to move further.
			</p>
			<p class="developers-p2" data-aos="fade-up">
				In our young team we have been working together in the same composition for a long time, we are trying to help
				each other and what's important- we always head towards the best result.
			</p>
			<p class="developers-p2" data-aos="fade-up">
				You will get in touch with interesting technologies in our company, such as Cordova, Ember JS and others, you
				will work for multiple platforms, monitor functionality of individual applications and intervene to the
				optimization and solution of unusual problems.
			</p>
		</div>
	</div>
	<hr class="developers-hr">
	<div class="row">
		<div class="col-offset-10 col-40" data-aos="fade-right">
			<h2 class="developers-h2">How it goes in iQuest:</h2>
			<ul class="developers-list">
				<li>We care about the precise assignment</li>
				<li>The programmer has constantly a careful tester available</li>
				<li>We spend hundreds of hours researching monthly</li>
				<li>Each project starts with more modern technologies</li>
				<li>We have time for quality processing of the order</li>
				<li>We have no directives and rigid rules</li>
				<li>We participate in international conferences</li>
				<li>Junior developer has an experienced colleague who helps him to grow</li>
			</ul>
		</div>
		<div class="col-offset-5 col-35" data-aos="fade-left">
			<h2 class="developers-h2">We require from candidate:</h2>
			<ul class="developers-list">
				<li>Interest in software development and willingness to learn</li>
				<li>Ability to work in a team</li>
				<li>Reliability and sense of responsibility</li>
			</ul>
		</div>
	</div>
</div>

<%= partial 'footer' %>
