---
title: Contact us | iQuest s.r.o.
subtitle: Do you have any questions? Contact us by phone or e-mail.
---
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT79g0yz7iWCU1kZ4iNXaayEI_gcC_ZxA"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Praha, Czech republic",
    "postalCode": "118 00",
    "streetAddress": "Sněmovní 9"
  },
  "email": "iquest@iquest.cz",
  "telephone": "+420 774 314 763",
  "telephone": "+420 774 314 768",
  "name": "iQuest s.r.o.",

  "@type": "subOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Brno, Czech republic",
    "postalCode": "602 00",
    "streetAddress": "Cejl 494/25"
  },
  "name": "iQuest s.r.o.",
}
</script>

<div id="map-canvas"></div>
<div class="box">
  <img class="logo" alt="Logo_hand" src="/images/logo_hand.png" />
  <h1>Contact us</h1>
  <table>
    <tr>
      <td>Address:</td>
      <td>iQuest s.r.o.
      <br />Sněmovní 9
      <br />118 00 Praha 1</td>
    </tr>
    <tr>
      <td>IR:</td>
      <td>27096483</td>
    </tr>
    <tr>
      <td>UID:</td>
      <td>CZ 27096483</td>
    </tr>
    <tr class="contact-telefon">
      <td>Phone:</td>
      <td><a href="tel:+420774314763" class="c-phone"><i class="fa fa-phone"></i> +420 774 314 763</a></td>
    </tr>
    <tr>
      <td>Cell phone:</td>
      <td><a href="tel:+420777314768" class="c-phone"><i class="fa fa-lg fa-mobile-phone"></i> +420 777 314 768</a></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><i class="fa fa-envelope-o"></i> <a href="mailto:iquest@iquest.cz">iquest@iquest.cz</a></td>
    </tr>
  </table>
  <p class="business-register">The company was registered on 15 November 2003 in the Commercial Register at the Municipal Court in Prague, Section C, insert 95959th.</p>
  <form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form2" class="contact-form">
    <input type="hidden" name="_next" value="https://www.iquest.cz/success" />
    <input type="text" name="_gotcha" style="display:none" />
    <table>
      <tr>
        <td><label for="email">E-mail:</label></td>
        <td><input type="text" name="email" id="email"></tr>
      <tr>
        <td><label for="message">Message:</label></td>
        <td><textarea name="message" id="message"><%= t('footer.message_example') %></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" id="submit_contact_form" class="pull-right"><i class="fa fa-share"></i> Send contacts</button></td>
      </tr>
    </table>
  </form>
</div>

<%= partial 'footer' %>

<script>
  var point = {
    lat: 50.080469,
    lng: 14.405934
  };
  var markerSize = {
    x: 22,
    y: 40
  };


  google.maps.Marker.prototype.setLabel = function(label) {
    this.label = new MarkerLabel({
      map: this.map,
      marker: this,
      text: label
    });
    this.label.bindTo('position', this, 'position');
  };

  var MarkerLabel = function(options) {
    this.setValues(options);
    this.span = document.createElement('span');
    this.span.className = 'map-marker-label';
  };

  MarkerLabel.prototype = $.extend(new google.maps.OverlayView(), {
    onAdd: function() {
      this.getPanes().overlayImage.appendChild(this.span);
      var self = this;
      this.listeners = [
        google.maps.event.addListener(this, 'position_changed', function() {
          self.draw();
        })
      ];
    },
    draw: function() {
      var text = String(this.get('text'));
      var position = this.getProjection().fromLatLngToDivPixel(this.get('position'));
      this.span.innerHTML = text;
      this.span.style.left = (position.x - (markerSize.x / 2)) - (text.length * 3) + 10 + 'px';
      this.span.style.top = (position.y - markerSize.y + 40) + 'px';
    }
  });

  function initialize() {
    var myLatLng = new google.maps.LatLng(point.lat, point.lng);
    var gmap = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 17,
      center: myLatLng,
      scrollwheel: false,
      panControl: false,
      mapTypeControl: false,
      streetViewControl: false,
      zoomControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoomControlOptions: {
        position: google.maps.ControlPosition.RIGHT_CENTER
      }
    });
    var myMarker = new google.maps.Marker({
      map: gmap,
      position: myLatLng,
      label: 'iQuest s.r.o.',
      draggable: true
    });
  }

  initialize();
</script>
