---
title: Kontaktujte nás | iQuest s.r.o.
subtitle: Máte jakýkoliv dotaz? Kontaktujte nás telefonicky či e-mailem.
---
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Praha, Czech republic",
      "postalCode": "118 00",
      "streetAddress": "Sněmovní 9"
    },
    "email": "iquest@iquest.cz",
    "telephone": ["+420 774 314 763","+420 774 314 768"],
    "name": "iQuest s.r.o.",
    "subOrganization" : {
    "@type": "Organization",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Brno, Czech republic",
      "postalCode": "602 00",
      "streetAddress": "Cejl 494/25"
    },
    "name": "iQuest s.r.o."}
  }
</script>

<div class="row contacts">
  <div class="col-30vw contact-text">
    <div class="box" data-aos="fade-right">
      <img class="logo" alt="logo iQuest" src="/images/logo_hand.png" />
      <a id="logo_box" href="/"></a>
      <h1>Kontaktujte nás</h1>
      <table>
        <tr><th colspan=2>Sídlo a centrála Praha</th></tr>
        <tr>
          <td>Adresa:</td>
          <td>iQuest s.r.o.
          <br />Sněmovní 9
          <br />118 00 Praha 1</td>
        </tr>
        <tr>
          <td>IČ:</td>
          <td>27096483</td>
        </tr>
        <tr>
          <td>DIČ:</td>
          <td>CZ 27096483</td>
        </tr>
        <tr class="contact-telefon">
          <td>Telefon:</td>
          <td><a href="tel:+420774314763" class="c-phone"><i class="fa fa-phone"></i> +420 774 314 763</a></td>
        </tr>
        <tr>
          <td>Mobil:</td>
          <td><a href="tel:+420777314768" class="c-phone"><i class="fa fa-lg fa-mobile-phone"></i> +420 777 314 768</a></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><i class="fa fa-envelope-o"></i> <a href="mailto:iquest@iquest.cz">iquest@iquest.cz</a></td>
        </tr>
      </table>
      <table>
        <tr><th colspan=2>Kancelář Brno</th></tr>
        <tr>
          <td>Adresa:</td>
          <td>iQuest s.r.o.
            <br />Cejl 494/25
            <br />602 00 Brno</td>
        </tr>
      </table>
      <p class="business-register">Společnost byla zapsána dne 15.11.2003 v obchodním rejstříku vedeném u Městského soudu v Praze, oddíl C., vložka 95959.</p>
      <form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form2" class="contact-form" novalidate>
        <input type="hidden" name="_next" value="https://www.iquest.cz/success" />
        <input type="text" name="_gotcha" style="display:none" />
        <table>
          <tr>
            <td><label for="email">E-mail:</label></td>
            <td> 
              <input type="email" name="email" id="email" required>
              <span class="error" aria-live="polite"></span>
            </td>
          </tr>
          <tr>
            <td><label for="message">Vzkaz:</label></td>
            <td>
              <textarea name="message" id="message" required>Dobrý den, &#010;rádi bychom poptali ...&#010;Tel.:&nbsp;</textarea>
              <span class="error" aria-live="polite"></span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" id="submit_contact_form" class="pull-right"><i class="fa fa-share"></i> Odešlete kontakt</button></td>
          </tr>
        </table>
      </form>
      <h3>Konzultace</h3>
      <iframe class="consultation-iframe" src="https://konzultace.iquest.cz/calendar/"></iframe>
    </div>
  </div>
  <div class="col-35 contact-maps">
    <div class="img-google-map img-google-map--prague"></div>
    <div class="img-maps" style="background-image: url('/images/Praha.jpg');">
      <p class="add-img"><span class="town-img">Praha</span><br>
      Sněmovní 9
      <br>118 00 Praha 1
      </p>
   </div>
  </div>
  <div class="col-35 contact-maps">
    <div class="img-google-map img-google-map--brno"></div>
    <div class="img-maps" style="background-image: url('/images/Brno.png');">
      <p class="add-img">
        <span class="town-img">Brno</span><br>
        Cejl 494/25 <br>602 00 Brno
      </p>
    </div>
  </div>
</div>

<%= partial 'footer' %>
