---
title: Vývoj mobilních aplikací nové generace | iQuest s.r.o.
subtitle: Vyberte ty nejlepší na vývoj mobilních aplikaci. Vyvíjíme mobilní aplikace nové generace, jedna aplikace pro Android, IOS a webový prohližeč.
---
<div class="subpage container-lg">
  <header class="subpage-header row">
      <div class="col-30 intro-text-container relative">
        <div class="back-fixed" data-aos="fade-left">
          <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
        </div>
        <div class="header-text" data-aos="fade-up">
            <h1 data-aos="fade-up">Mobilní aplikace</h1>
            <h2>
                Jeden vývoj pro více platforem
                <br>
                <br>
                iOS + Android = 1 aplikace
            </h2>
        </div>
        <div class='flex subpage-buttons-container items-center'>
          <a href="#subpage-numbers" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
        </div>
      </div>
      <div class="intro-image-container relative col-70">
        <div class="intro-image-container-in"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/social_yellow.png" alt="Sociální sítě"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/search_engines_blue.png" alt="Vyhledávače"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/entertainment_and_culture_green.png" alt="Zábava a kultura"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/user_connection_orange.png" alt="Propojení uživatelů"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/education_and_science_cerculean.png" alt="Vzdělání a věda"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/sport.png" alt="Sport a terénink"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/shopping_and_reservation_persian_green.png" alt="Nákupy a rezervace"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/next.png" alt="Naučné weby"></div>
      </div>
  </header>
  <div class="subpage-points">
    <ul class='subpage-numbers' id="subpage-numbers">
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/1.png" alt="one">
        <div data-aos="fade-left">
          <h2>Současný vývoj WWW + iOS + Android. Úspora času a peněz.</h2>
          <p>Používáme nejmodernější hybridní technologie. Základ aplikace tvoříme pouze
            jednou pro web i mobilní zařízení. Pro různá zařízení pak ladíme jen vzhled,
            ovládání a vše pro dokonalý uživatelský prožitek. Více se dozváte zde
            (hybridníaplikace.cz)</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/2.png" alt="two">
        <div data-aos="fade-left">
          <h2>Tvoříme mobilní aplikace pro firmy i startupy</h2>
          <p>Navrhujeme a vyvíjíme rozsáhlé mobilní aplikace pro firmy i startupy.
            Spolupracujeme dlouhodobě. Tvoříme pro mobliní zařízení iOS, Android mobilní
            telefony i tablety.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/3.png" alt="three">
        <div data-aos="fade-left">
          <h2>Dokonalý design a intuitivní ovládání</h2>
          <p>Skvělý grafický návrh považujeme za nezbytnost! Uživatelé chtějí mít dokonalý
            zážitek a musejí mít aplikaci rádi.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/4.png" alt="four">
        <div data-aos="fade-left">
          <h2>Backend - to je serverové pozadí Vaší mobilní aplikace</h2>
          <p>Většina mobilních aplikací potřebuje mít "základ" na serveru, odkud čerpá data a
            kam je odesílá. Server je srdcem mobilní aplikace, které sice uživatel nevidí, ale
            pokud by netlouklo správně, mobilní aplikace nebude fungovat.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/5.png" alt="five">
        <div data-aos="fade-left">
          <h2>Marketing, propagace, PR, SEO</h2>
          <p>Jsme součástí sítě vynikajících marketingových a PR lidí. Umíme Vám pomoci s
            dokonalou komunikací ve vyhledávačích, na sociálních sítích i v dalších médiích.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="subpage-reference">
    <div class=''>
      <%= partial 'references' %>
    </div>
  </div>
  <div class="subpage-more-information bg-stretch">
    <div class="subpage-buttons-container" data-aos="fade-right">
      <% link_to t('urls.why_iquest'), :class => 'button', 'aria-label': "přejít na stránku proč iquest" do %>
        Proč vybrat iQuest?
      <% end %>
      <% link_to t('urls.reference'), :class => 'button', 'aria-label': "přejít na stránku více referencí" do %>
        Reference
      <% end  %>
      <a href="/kontakt" aria-label="Kontaktujte nás" class='button'>Kontaktujte nás</a>
    </div>
  </div>
  <!-- <div class="subpage-our-technology">
    <%= partial 'our_technology' %>
  </div> -->
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.icons .box').on('mouseenter', function() {
    $(this).find('.img-wrap').addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).find('.img-wrap').removeClass('animated pulse');
  })
</script>
