---
title: Progresivní webové aplikace | iQuest s.r.o.
subtitle: Vývoj webových aplikací nové generace.
---
<div class="subpage ">
  <header class="subpage-header row">
      <div class="col-30 intro-text-container relative">
        <div class="back-fixed" data-aos="fade-left">
          <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
        </div>
        <div class="header-text" data-aos="fade-up">
            <h1 data-aos="fade-up">Progresivní <br>
              webové aplikace
            </h1>
            <h2>
              Vývoj webových aplikací nové generace
            </h2>
        </div>
        <div class='flex container-i-want-to-know-more items-center'>
          <a href="#subpage-main__list" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
        </div>
      </div>
      <div class="intro-image-container relative col-70">
        <div class="intro-image-container-in"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/b2b_yellow.png" alt="Sociální sítě"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/reservation_systems_blue.png" alt="Vyhledávače"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/CRM_systems_green.png" alt="Zábava a kultura"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/ERP_orange.png" alt="Propojení uživatelů"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/communication_app_cerculean.png" alt="Vzdělání a věda"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/logical_systems_gray.png" alt="Sport a terénink"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/dispatching_persian_green.png" alt="Nákupy a rezervace"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/next.png" alt="Naučné weby"></div>
      </div>
  </header>
  <div class="subpage-main">
    <ul class='subpage-main__list' id="subpage-main__list">
      <li class="article-item flex row">
        <div class="article-item__image-container col-40 relative flex flex-column">
          <img src="/images/Subpage/pic-1.jpg" alt="prezentace" class='w-100'>
          <div class="relative description-clearfix">
            <a class="absolute article-item__description play-link flex items-center pointer uppercase" target="_blank" href="https://youtu.be/eodArdGRIVQ">
              <span class="text-white">Přehrát video</span><span class='icon-play icon border-rounded m-l-3'>
                <img src="/images/Subpage/icon-play.png" alt="spustit">
              </span>
            </a>
          </div>
        </div>
        <div class="article-item__text col-60 border-box">
          <h2 class="m-t-0 m-l-auto">Co jsou Progressive Web App</h2>
          <p class="m-l-auto">Progresivní webové aplikace kombinují to nejlepší ze světa webu a světa aplikací. Jsou užitečné pro uživatele od prvního otevření stránky v prohlížeči, nevyžadují instalaci. Jak uživatel postupně vytváří vztahy s aplikací, PWA se stává stále více užitečným. Načítá se rychlé, dokonce i v nestabilních sítích, posílá příslušná upozornění, má ikonku na domovské obrazovce a poskytuje plnohodnotný zážitek na celé obrazovce.</p>
        </div>
      </li>
      <li class="article-item--reverse article-item flex row">
        <div class="article-item__image-container col-40 flex flex-column">
          <img src="/images/Subpage/pic-2.jpg" alt="telefon" class='w-100'>
          <div class="relative description-clearfix">
            <a href="#reasons" class="absolute scroll-link article-item__description flex-row-reverse down-link flex items-center pointer uppercase">
              <span class="text-white">Zobrazit důvody</span><span class='icon-down icon border-rounded m-r-3'>
                <img src="/images/Subpage/icon-down.png" alt="dolu">
              </span>
            </a>
          </div>
        </div>
        <div class="article-item__text col-60 relative border-box">
          <img class="absolute" src="/images/Subpage/5.png" alt="pět">
          <h2 class="m-t-0 m-r-auto">důvodů, proč jsou
            Progressive Web App
            lepší než nativní aplikace</h2>
          <p class="m-r-auto">Progresivní webové aplikace kombinují poutavost nativních aplikací s dosahem webu. Progresivní webové aplikace přenáší funkce, které očekáváme od nativních aplikací, do prostředí mobilních prohlížečů, a to tím, že využívá standardní technologie a běží v zabezpečeném kontejneru dostupném všem uživatelům na webu.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="bg--gray-skew"></div>
  <ul class='subpage-main__list text-black' id="reasons" style="margin-bottom: 10vw;">
    <li class="flex items-center">
      <img class="numbers" data-aos="fade-right" src="/images/Numbers/1.png" alt="one">
      <div data-aos="fade-left">
        <h3>Dostupné na jakýchkoli zařízeních, a to bez ohledu na velikost obrazovky a dalších specifikacích.</h3>
      </div>
    </li>
    <li class="flex items-center">
      <img class="numbers" data-aos="fade-right" src="/images/Numbers/2.png" alt="two">
      <div data-aos="fade-left">
        <h3>PWA jako webová stránka nabizí vždy nejnovější verze díky rychlé aktualizaci.</h3>
      </div>
    </li>
    <li class="flex items-center">
      <img class="numbers" data-aos="fade-right" src="/images/Numbers/3.png" alt="three">
      <div data-aos="fade-left">
        <h3>Uživatelé mohou <b>přejít na PWA pomocí odkazů</b> na sociálních sítích nebo při procházení webu. Je to mnohem pohodlnější než soutěžit o zobrazení se dvěma miliony dostupných aplikací na App Store a Google Play.</h3>
      </div>
    </li>
    <li class="flex items-center">
      <img class="numbers" data-aos="fade-right" src="/images/Numbers/4.png" alt="four">
      <div data-aos="fade-left">
        <h3>Pop-up oznámení, <b>práce v režimu offline</b> a všechny ostatní funkce progresivní aplikace budou fungovat i v případě, že ji uživatel nikdy neinstaloval.</h3>
      </div>
    </li>
    <li class="flex items-center">
      <img class="numbers" data-aos="fade-right" src="/images/Numbers/5.png" alt="five">
      <div data-aos="fade-left">
        <h3>Progresivní webové aplikace lze nalézt ve vyhledávání Google, protože jsou <b>naprosto indexovatelné.</b></h3>
      </div>
    </li>
  </ul>
  <div class="subpage-reference">
    <div class=''>
      <%= partial 'references' %>
    </div>
  </div>
  <div class="bg--white-skew"></div>
  <div class="subpage-more-information bg-stretch">
    <video width="100%" height="100%" autoplay loop muted poster="/images/web_application_development_back.jpg">
      <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
      <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
      <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
      <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
    </video>
    <div class="more-information__buttons" data-aos="fade-right">
      <% link_to t('urls.why_iquest'), :class => 'button', 'aria-label': "přejít na stránku proč iquest" do %>
        Proč vybrat iQuest?
      <% end %>
      <% link_to t('urls.reference'), :class => 'button', 'aria-label': "přejít na stránku více referencí" do %>
        Reference
      <% end  %>
      <a href="/kontakt" aria-label="Kontaktujte nás" class='button'>Kontaktujte nás</a>
    </div>
  </div>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  document.querySelector('.back-fixed').addEventListener('mouseenter', function() {
    this.classList.add('animated', 'pulse');
  })
  document.querySelector('.back-fixed').addEventListener('mouseleave', function() {
    this.classList.remove('animated', 'pulse');
 })
</script>
