---
title: Reference | iQuest s.r.o.
subtitle: Mezi naše spokojené zákazníky patří Modrý anděl, IGNUM, Cemio Switzerland AG, ProCare Medical a mnoho dalších. Přesvědčte se sami.
---
<div class="content ref-list">
	<a href="#" class="arrow-down hvr-hang" id="arrow_down"></a>

	<div class="row clear">
		<div class="col-33" id="greenswan" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.greenswan') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/greenswan.png" alt="ref" />
					</div>
				</div>
				<h3>Green-Swan Pharmaceuticals CR a.s.</h3>
			<% end %>
			<span class="reference-text">
				CRM systém pro efektivní řízení obchodních reprezentantů v terénu. Poskytuje informace o produktech a jejich prodejích, reporting, umožňuje odesílat objednávky a mnoho dalšího.
				<% link_to t('urls.greenswan'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="ignum" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.ignum') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/ignum.png" alt="ref" />
					</div>
				</div>
				<h3>IGNUM</h3>
			<% end %>
			<span class="reference-text">
				Vnitřní informační systém a zákaznický portál pro jednoho z největších poskytovatelů webhostingu a serverhostingu v České republice zahrnující správu zákaznických účtů a jejich nastavení.
				<% link_to t('urls.ignum'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="modry-andel" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.modry_andel') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/modry-andel.png" alt="ref" />
					</div>
				</div>
				<h3>Dispečink Modrý anděl</h3>
			<% end %>
			<span class="reference-text">
				Kompletní softwarové zázemí od call-centra po web a napojení mobilních aplikací pro službu Modrý anděl.
				<% link_to t('urls.modry_andel'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="domenacz" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/domenacz.png" alt="ref" />
				</div>
			</div>
			<h3>Doména.cz</h3>
			<span class="reference-text">
				Redesign a přeprogramování kompletního registračního procesu domén pro společnost IGNUM, jednoho z největších poskytovatelů domén a webhostingu v České republice.
			</span>
		</div>
		<div class="col-33" id="nokian" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/nokian.png" alt="ref" />
				</div>
			</div>
			<h3>Nokian Tyres s.r.o.</h3>
			<span class="reference-text">
				Analýza a návrh možností integrace interního informačního systému s výrobci automobilů pro předního světového výrobce pneumatik.
			</span>
		</div>
		<div class="col-33" id="eurosignal" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.eurosignal') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/eurosignal.png" alt="ref" />
					</div>
				</div>
				<h3>EUROSIGNAL</h3>
			<% end  %>
			<span class="reference-text">
				Komplexní vnitrofiremní informační systém s klientskou samoobsluhou pro poskytovatele internetového připojení, který zahrnuje správu klientů, smluv, tarifů a mnoho dalšího.
				<% link_to t('urls.eurosignal'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="avu" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/avu.png" alt="ref" />
				</div>
			</div>
			<h3>Akademie výtvarných umění v Praze</h3>
			<span class="reference-text">
				Pro AVU jsme vybudovali rozsáhlý web integrovaný s interními informačními systémy.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.assa-abloy') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/assaabloy.png" alt="ref" />
					</div>
				</div>
				<h3>ASSA ABLOY Entrance Systems, spol. s.r.o.</h3>
			<% end %>
			<span class="reference-text">
				Pro významného dodavatele dveřních systémů jsme dodali komplexní informační systém pro celkovou organizaci zakázek a projektů.
				<% link_to t('urls.assa-abloy'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.galerie-rudolfinum') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/galerie-rudolfinum.png" alt="ref" />
					</div>
				</div>
				<h3>Česká filharmonie - Galerie Rudolfinum pokladní a věrnostní systém</h3>
			<% end %>
			<span class="reference-text">
				Pro prestižní Galerii Rudolfinum v samém centru Prahy jsme analyzovali, navrhli a vytvořili unikátní věrnostní systém.
				<% link_to t('urls.galerie-rudolfinum'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/jungheinrich.svg" alt="ref" />
				</div>
			</div>
			<h3>Jungheinrich - vysokozdvižné vozíky</h3>
			<span class="reference-text">
				Vytvořili jsme PWA (Progresive web application) VOZÍKOVÁ POHOTOVOST. Webovou verzi, která se umí “proměnit” v mobilní verzi, a to včetně své ikony a offline obsahu. Zákazníci společnosti si tak mohou evidovat své vozíky a výhodně objednávat servis přímo od jejich dodavatele prostřednictvím mobilní aplikace.
			</span>
		</div>
		<div class="col-33" id="cia-news" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.cia_news') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/cia-news.png" alt="ref" />
					</div>
				</div>
				<h3>ČIA News - Česká informační agentura</h3>
			<% end  %>
			<span class="reference-text">
				Klientská webová aplikace a datový sklad pro jednu z největších informačních agentur v ČR, která umožňuje snadné a rychlé vyhledávání textového obsahu ve velkém množství dat.
				<% link_to t('urls.cia_news'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.hipp') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/hipp.svg" alt="ref" />
					</div>
				</div>
				<h3>HiPP Czech s.r.o.</h3>
			<% end %>
			<span class="reference-text">
				Český HIPP je součástí nadnárodního celku, který dodává špičkové produkty zejména pro kojence a malé děti, ale též drogerii apod.
				<% link_to t('urls.hipp'), :class => 'more' do %>
				<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.magistra') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/magistra.png" alt="ref" />
					</div>
				</div>
				<h3>MAGISTRA</h3>
			<% end %>
			<span class="reference-text">
				Pro řetězec lékáren Magistra jsme vytvořili mobilní aplikaci, pomocí které si uživatelé mohou najít svou oblíbenou lékárnu a mohou využít speciálních nabídek v rámci věrnostního programu.
				<% link_to t('urls.magistra'), :class => 'more' do %>
				<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.one-click') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/one-click.svg" alt="ref" />
					</div>
				</div>
				<h3>One Click Business solution - mobilní aplikace</h3>
			<% end %>
			<span class="reference-text">
				Vytvořili jsme mobilní aplikaci pro projektový informační systém 1Click. Provedli jsme analýzu funkcionality, návrh grafického prostředí a User Experience.
				<% link_to t('urls.one-click'), :class => 'more' do %>
				<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="chirs" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/chirs.png" alt="ref" />
				</div>
			</div>
			<h3>CHIRŠ</h3>
			<span class="reference-text">
				Vytvořili jsme projekt unikátní mobilní aplikace pro inteligentní vyhledávání realit na míru uživatelům.
			</span>
		</div>

		<div class="col-33" id="procare" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.procare') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/procare.png" alt="ref" />
					</div>
				</div>
				<h3>ProCare</h3>
			<% end  %>
			<span class="reference-text">
				Interní informační systém pro jednoho z nejvýznamnějších poskytovatelů zdravotní péče v České republice sloužící k řízení a optimalizaci práce zdravotnických pracovníků přímo v terénu.
				<% link_to t('urls.procare'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="hasbro" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/hasbro.png" alt="ref" />
				</div>
			</div>
			<h3>HASBRO Nerf</h3>
			<span class="reference-text">
				Pro našeho klienta Lion Communications jsme vytvořili Facebook aplikaci pro hráče HASBRO NERF.
			</span>
		</div>
		<div class="col-33" id="magistra" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/magistra.png" alt="ref" />
				</div>
			</div>
			<h3>MAGISTRA</h3>
			<span class="reference-text">
				Pro majitele sítě lékáren Magistra jsme vytvořili interní informační systém.
			</span>
		</div>

		<div class="col-33" id="vegatour" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/vegatour.png" alt="ref" />
				</div>
			</div>
			<h3>VegaTour</h3>
			<span class="reference-text">
				Projekt informačního systému prodeje jízdenek a odbavení cestujících v autobusech společnosti VegaTour. Projekt zahrnuje napojení kontaktních míst do mobilní aplikace pro cestující a kontrolory v autobusech.
			</span>
		</div>
		<div class="col-33" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper" id="klemon_fashion">
				<div>
					<img src="/images/Refs/klemon_fashion.png" alt="ref" />
				</div>
			</div>
			<h3>Klemon fashion</h3>
			<span class="reference-text">
				Pro módní značku Klemon fashion jsme vytvořili B2B portál pro konfiguraci a proces realizace velkoobchodních zakázek pro značky Blažek a další.
			</span>
		</div>
		<div class="col-33" id="impuls" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/impuls.png" alt="ref" />
				</div>
			</div>
			<h3>Rádio Impuls</h3>
			<span class="reference-text">
				Pro našeho klienta Lion communications jsme vytvořili micro-rezervační portál rádia Impuls.
			</span>
		</div>

		<div class="col-33" id="partspoint" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.partspoint') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/partspoint.png" alt="ref" />
					</div>
				</div>
				<h3>PARTSPOINT Czech, AUTOPRIMA Czech, AUTOPRIMA Slovakia, AMŠ Slovakia</h3>
			<% end %>
			<span class="reference-text">
				Rozsáhlý B2B webový informační systém pro distributory náhradních dílů s integrací na interní informační systémy distributorů i na rozsáhlou německou databázi TecDoc.
				<% link_to t('urls.partspoint'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="summit_media" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/summit_media.png" alt="ref" />
				</div>
			</div>
			<h3>Summit Media</h3>
			<span class="reference-text">
				Pro významného britského klienta jsme pracovali na řadě projektů jako subdodavatelé.
			</span>
		</div>
		<div class="col-33" id="frame100r" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/frame100r.png" alt="ref" />
				</div>
			</div>
			<h3>FRAME100R</h3>
			<span class="reference-text">
				Pro produkční společnost jsme vytvořili crowd-fundingový portál k filmu Onřeje Sokola Krásno.
			</span>
		</div>

		<div class="col-33" id="lucie" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/lucie.png" alt="ref" />
				</div>
			</div>
			<h3>Skupina Lucie</h3>
			<span class="reference-text">
				Vytvořili jsme rezervační portál pro nákup vstupenek na koncerty skupiny Lucie.
			</span>
		</div>
		<div class="col-33" id="paartyy" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.paartyy') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/paartyy.png" alt="ref" />
					</div>
				</div>
				<h3>Paartyy.cz: Nestle, Telefonica O2, Vitana, Nicolaus WOM marketing webový portál</h3>
			<% end %>
			<span class="reference-text">
				WOM marketing webový portál pro společnost Outbreak, který využívá principy sociální sítě a umožňuje oslovit nové spotřebitele určitých produktů a značek, jejich přátelé a známé.
				<% link_to t('urls.paartyy'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="cemio" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.cemio') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/cemio.png" alt="ref" />
					</div>
				</div>
				<h3>Cemio Switzerland AG</h3>
			<% end  %>
			<span class="reference-text">
				CRM systém pro efektivní řízení obchodních reprezentantů v terénu. Systém umožňuje plánovat návštěvy, evidovat náklady a ponechaný materiál, odesílat objednávky a mnoho dalšího.
				<% link_to t('urls.cemio'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>

		<div class="col-33" id="extenso" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.extenso') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/extenso.png" alt="ref" />
					</div>
				</div>
				<h3>Extenso - software pro pojišťovacího makléře</h3>
			<% end  %>
			<span class="reference-text">
				Informační systém pro správu pojistných událostí a jejich životního cyklu, díky které došlo k usnadnění, zpřehlednění a urychlení všech procesů vedoucích k úspěšné likvidaci pojistných událostí.
				<% link_to t('urls.extenso'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="amca" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.amca') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/amca.png" alt="ref" />
					</div>
				</div>
				<h3>AMCA</h3>
			<% end  %>
			<span class="reference-text">
				Převzetí vývoje rozsáhlého informačního systému pro komplexní organizaci mezinárodních konferencí, tedy od registrace, přes řízení finančních toků až po správu ubytování hostů.
				<% link_to t('urls.amca'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="bahal" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.bahal') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/bahal.png" alt="ref" />
					</div>
				</div>
				<h3>Pasivní domy BAHAL</h3>
			<% end  %>
			<span class="reference-text">
				Webový portál umožňující zákaznickou konfiguraci a kalkulaci stavby nového pasivního či nízkoenergetického dobu včetně jeho pohodlného výběru. Součástí je též porovnávač a modul pro oslovení potencionálních klientů.
				<% link_to t('urls.bahal'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>

		<div class="col-33" id="autoprima" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.autoprima') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/autoprima.png" alt="ref" />
					</div>
				</div>
				<h3>AUTOPRIMA Česká republika, AUTOPRIMA Slovenská republika, AUTO MOTO ŠPORT Slovenská republika</h3>
			<% end %>
			<span class="reference-text">
				Rozsáhlý B2B webový informační systém pro distributory náhradních dílů s kompletní integrací na interní systémy jednotlivých regionálních poboček a propojení s centrálním skladem.
				<% link_to t('urls.autoprima'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="hasek" data-aos="fade-up" data-aos-offset="250">
			<% link_to t('urls.hasek') do %>
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/hasek.png" alt="ref" />
					</div>
				</div>
				<h3>HAŠEK servis</h3>
			<% end %>
			<span class="reference-text">
				Firemní informační systém servisních techniků plynových kotlů, který podporuje správu klientů, zakázek a pracovníků. Součástí je napojení na ústřednu call-centra společnosti a mobilní aplikace.
				<% link_to t('urls.hasek'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="sva" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/sva.png" alt="ref" />
				</div>
			</div>
			<h3>S.V.A. spol. s r.o.</h3>
			<span class="reference-text">
				Systém pro správu a organizaci pravidelných servisních činností společnosti realizující stavebně-montážní činnosti.
			</span>
		</div>

		<div class="col-33" id="melkus" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/melkus.png" alt="ref" />
				</div>
			</div>
			<h3>Melkus</h3>
			<span class="reference-text">
				Vytvořili jsme menší rezervační systém na míru pro náš oblíbený penzion Melkus v Peci pod Sněžkou.
			</span>
		</div>
		<div class="col-33" id="toptrika" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/toptrika.png" alt="ref" />
				</div>
			</div>
			<h3>Toptrika.cz</h3>
			<span class="reference-text">
				Tvorba e-shopu zahrnující přehledné vyhledávání, vytvoření a odeslání objednávky vč. jejího uhrazení, možnost založení a správy zákaznického účtu.
			</span>
		</div>
		<div class="col-33" id="pravo_rychle" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/pravo_rychle.png" alt="ref" />
				</div>
			</div>
			<h3>Právo rychle</h3>
			<span class="reference-text">
				Vybudovali jsme portál www.pravorychle.cz s nabídkou právních dokumentů přímo od zkušených advokátů.
			</span>
		</div>

		<div class="col-33" id="sudoku" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/sudoku.png" alt="ref" />
				</div>
			</div>
			<h3>Sudoku</h3>
			<span class="reference-text">
				Pro našeho dlouhodobého klienta jsme relizovali webovou hru Sudoku.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/lcr.png" alt="ref" />
				</div>
			</div>
			<h3>Clinical Research</h3>
			<span class="reference-text">
				Pro našeho klienta jsme vytvořili webovou aplikaci pro sběr a vyhodnocování dat. <a href="http://www.clinical-research.cz/en/home-page"></a>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/burda.png" alt="ref" />
				</div>
			</div>
			<h3>Burda International</h3>
			<span class="reference-text">
				Pro významné české vydavatelství jsme vytvořili mobilní aplikaci pro prodejní akci Dny Marianne.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/saint_gobain.svg" alt="ref" />
				</div>
			</div>
			<h3>Saint-Gobain Construction Products CZ a.s., divize Rigips</h3>
			<span class="reference-text">
				Pro světového leadera v oboru stavebních materiálů jsme provedli audit rozsáhlého webového portálu. Předmětem bylo posouzení kvality zdrojového kódu v rozsahu několika tisíc řádek zdrojového kódu napsaného v prostředí Ruby on Rails. Výsledkem naší práce byla komplexní závěrečná zpráva s celkovým hodnocením.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/nemec.png" alt="ref" />
				</div>
			</div>
			<h3>Němec s.r.o.</h3>
			<span class="reference-text">
				Společnost Němec se zabývá realizací stylových povrchů a vertikálních zahrad v České republice i v zahraničí již více než 20 let. Pro tuto společnost jsme vytvořili komplexní systém na míru pro řízení projektů.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/myslivecke_hospodareni.png" alt="ref" />
				</div>
			</div>
			<h3>Mysliveckehospodareni.cz</h3>
			<span class="reference-text">
				Vytvořili jsme revoluční aplikaci pro potřeby mysliveckých spolků. Tato aplikace umožňuje snadnou evidenci úlovků včetně generování protokolů pro státní správu, potřebné přehledy a správu celého spolku.
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/doosan.png" alt="ref" />
				</div>
			</div>
			<h3>Doosan</h3>
			<span class="reference-text">
				Pro společnost Doosan jsme vyvinuli administrátorskou webovou a desktopovou aplikaci pro správu manuálů pro stavební stroje, bagry, vysokozdvižné vozíky atp. v různých jazykových mutacích. Aplikace umožňuje uživatelům stáhnout si manuál ke konkrétnímu vozíku.
				<% link_to t('urls.doosan'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/challingo.png" alt="ref" />
				</div>
			</div>
			<h3>Challingo</h3>
			<span class="reference-text">
				Pro Challingo jsme vyvinuli kompletní mobilní aplikaci. Jedná se o sociální aplikaci pro iOS a Android. Je to platforma, ve které se uživatelé vzájemně vyzývají v různých disciplínách. Jednotlivé výzvy mohou lajkovat, sdílet a komentovat. Uživatelé mohou vytvořit novou výzvu či splnit již přijatou výzvu.
				<% link_to t('urls.challingo'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>

		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img style="background-color: #1A4871; padding: 8px;" src="/images/Refs/cesmad.png" alt="ref" />
				</div>
			</div>
			<h3>Česmad</h3>
			<span class="reference-text">
				Mobilní aplikace TIRParking pro řidiče nákladních vozidel, která jim umožňuje snadno najít odpočívku. Současně jim signalizuje čas pro zákonnou přestávku.
				<% link_to t('urls.cesmad'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>

		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/Loyalty-Consulting.png" alt="ref" />
				</div>
			</div>
			<h3>Loyalty Consulting</h3>
			<span class="reference-text">
				Věrnostní systém pro maloobchodní řetězce. Realizovali jsme mobilní a webovou aplikaci a tabletovou aplikaci jako terminál pro prodejnu.
				<% link_to t('urls.local-loyalty'), :class => 'more' do %>
					<span class="mr-1">Více</span>
					<i class="fa fa-arrow-right"></i>
				<% end  %>
			</span>
		</div>
	</div>
</div>

<%= partial 'footer' %>
