---
title: Startupy | iQuest s.r.o.
subtitle: Tvoříme robustní webové aplikace pro malé firmy i nadnárodní korporace. Na míru pro vaše podnikání.
---
<div class="subpage ">
  <header class="subpage-header row">
      <div class="col-30 intro-text-container relative">
        <div class="back-fixed" data-aos="fade-left">
          <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
        </div>
        <div class="header-text" data-aos="fade-up">
            <h1 data-aos="fade-up">Pomáháme vyrůst novým projektům</h1>
            <h2>
                Jsme spolehlivou oporou začínajících internetových projektů.
                <br><br>
                Pomáháme stavět startupy pro stávající firmy i začínající projekty.
            </h2>
        </div>
        <div class='flex container-i-want-to-know-more items-center'>
          <a href="#subpage-main__list" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
        </div>
      </div>
      <div class="intro-image-container relative col-70">
        <div class="intro-image-container-in"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/social_yellow.png" alt="Sociální sítě"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/search_engines_blue.png" alt="Vyhledávače"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/entertainment_and_culture_green.png" alt="Zábava a kultura"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/user_connection_orange.png" alt="Propojení uživatelů"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/education_and_science_cerculean.png" alt="Vzdělání a věda"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/sport.png" alt="Sport a terénink"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/shopping_and_reservation_persian_green.png" alt="Nákupy a rezervace"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/next.png" alt="Naučné weby"></div>
      </div>
  </header>
  <div class="subpage-main">
    <ul class='subpage-main__list' id="subpage-main__list">
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/1.png" alt="one">
        <div data-aos="fade-left">
          <h2>Tvoříme weby i mobilní aplikace pro Váš startup</h2>
          <p>Poskytujeme komplexní služby.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/2.png" alt="two">
        <div data-aos="fade-left">
          <h2>Současný vývoj WWW + iOS + Android. Úspora času a peněz</h2>
          <p>Používáme nejmodernější hybridní technologie. Základ aplikace tvoříme pouze  <br>
            jednou pro web i mobilní zařízení. Pro různá zařízení pak ladíme jen vzhled, ovládání <br>
            a vše pro dokonalý uživatelský prožitek. Více se dozvíte zde  <br>
            <a href='https://www.hybridniaplikace.cz/' target="_blank">hybridníaplikace.cz</a></p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/3.png" alt="three">
        <div data-aos="fade-left">
          <h2>Návrh funkcí i business plánu</h2>
          <p>Pomáháme Vám nejen při vývoji aplikací, ale i při vymýšlení funkcí i způsobu, <br>
            jak co nejdříve na celém startupu vydělat peníze, pokud je to účelem.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/4.png" alt="four">
        <div data-aos="fade-left">
          <h2>Marketing, propagace, PR, SEO</h2>
          <p>Jsme součástí sítě vynikajících marketingových a PR lidí. Umíme Vám pomoci s  <br>
            dokonalou komunikací ve vyhledávačích, na sociálních sítích i v dalších médiích.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/5.png" alt="five">
        <div data-aos="fade-left">
          <h2>Jsme Vaším zkušeným partnerem. Jsme členem Vašeho týmu.</h2>
          <p>Jsme s Vámi od začátku po celou dobu projektu. Váš úspěch je pro nás osobní ctí!</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="bg--gray-skew"></div>
  <div class="subpage-reference">
    <div class=''>
      <%= partial 'references' %>
    </div>
  </div>
  <div class="bg--white-skew"></div>
  <div class="subpage-more-information bg-stretch">
    <video width="100%" height="100%" autoplay loop muted poster="/images/web_application_development_back.jpg">
      <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
      <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
      <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
      <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
    </video>
    <div class="more-information__buttons" data-aos="fade-right">
      <% link_to t('urls.why_iquest'), :class => 'button', 'aria-label': "přejít na stránku proč iquest" do %>
        Proč vybrat iQuest?
      <% end %>
      <% link_to t('urls.reference'), :class => 'button', 'aria-label': "přejít na stránku více referencí" do %>
        Reference
      <% end  %>
      <a href="/kontakt" aria-label="Kontaktujte nás" class='button'>Kontaktujte nás</a>
    </div>
  </div>
  <!-- <div class="subpage-our-technology">
    <%= partial 'our_technology' %>
  </div> -->
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })
</script>