---
title: Your form is successfully submitted | iQuest s.r.o.
subtitle: Successfully submitted form.
---
<div class="page-offset">
  <div class="title">
    <div class="heart"></div>
    <div class="row">
      <div class="col-100">
        <i class="fa fa-lg fa-check-circle success-icon animated fadeInUp"></i>
      </div>
    </div>
    <h1 class="animated delay-05s fadeInUp">Your form is successfully submitted</h1>
    <h3 class="animated delay-1s fadeInUp">Thank you for contacting us.<br />We will get back to you the following work day at the latest.</h3>
    <p class="animated delay-1s fadeInUp">iQuest team</p>
    <div class="row">
      <div class="col-100">
        <a href="/" class="go-home animated delay-1-5s fadeInLeft">
          <i class="fa fa-lg fa-home"></i>
          <span>Homepage</span>
        </a>
        <a href="https://www.facebook.com/iquest.cz" target="_blank" class="go-facebook animated delay-1-5s fadeInRight">
          <i class="fa fa-lg fa-facebook"></i>
          <span>We are on Facebook</span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
