---
title: Technologies for web and mobile application development | iQuest s.r.o.
subtitle: We use technologies that allow fast and clean application development. Ruby on Rails, Ember, Cordova and others.
---
<div class="page-offset">
  <div class="row">
    <div class="col-100" data-aos="fade-up">
      <h1>Web Information Systems</h1>
      <div class="cards">
        <div class="info">We use technologies that enable the rapid development and clean as small Web applications such complex and demanding Internet information systems. On the front-end we use modern methods for user simplicity and clean design.</div>
        <a class="card" href="/en/technology/ruby-on-rails/" data-aos="fade-up">
          <div class="content ruby-on-rails"></div>
          <div class="title">
            Ruby on Rails
          </div>
        </a>
        <a class="card half" href="/en/technology/emberjs/" data-aos="fade-up">
          <div class="content emberjs"></div>
          <div class="title">
            Ember JS
          </div>
        </a>
        <a class="card half" href="/en/technology/bootstrap/" data-aos="fade-up">
          <div class="content bootstrap"></div>
          <div class="title">
            Bootstrap
          </div>
        </a>
        <a class="card half" href="/en/technology/sass/" data-aos="fade-up">
          <div class="content sass"></div>
          <div class="title">
            Sass
          </div>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-100" data-aos="fade-up">
      <h1>Mobile application</h1>
      <div class="cards">
        <div class="info">We choose the technologies that allow us to make applications quickly, allowing immediate changes and work across multiple platforms (Android, iOS, Windows).</div>
        <a class="card" href="/en/technology/cordova/" data-aos="fade-up">
          <div class="content cordova"></div>
          <div class="title">
            Apache Cordova
          </div>
        </a>
        <a class="card half" href="/en/technology/html5/" data-aos="fade-up">
          <div class="content html5"></div>
          <div class="title">
            HTML5
          </div>
        </a>
        <a class="card half" href="/en/technology/emberjs/" data-aos="fade-up">
          <div class="content emberjs"></div>
          <div class="title">
            Ember JS
          </div>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-100" data-aos="fade-up">
      <h1>Operation</h1>
      <div class="cards">
        <div class="info">We deploy systems into the cloud. HEROK system built on technologies Amazon is one of the most reliable and most widely used cloud with high availability. Other techniques allow easy versioning, monitoring and analysis of operational data.</div>
        <a class="card" href="/en/technology/heroku/" data-aos="fade-up">
          <div class="content heroku"></div>
          <div class="title">
            Heroku
          </div>
        </a>
        <a class="card half" href="/en/technology/git/" data-aos="fade-up">
          <div class="content git"></div>
          <div class="title">
            Git
          </div>
        </a>
        <a class="card half" href="/en/technology/newrelic/" data-aos="fade-up">
          <div class="content newrelic"></div>
          <div class="title">
            New Relic
          </div>
        </a>
        <a class="card half" href="/en/technology/rabbitmq/" data-aos="fade-up">
          <div class="content rabbitmq"></div>
          <div class="title">
            RabbitMQ
          </div>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-100" data-aos="fade-up">
      <h1>Database</h1>
      <div class="cards">
        <div class="info">We use a reliable and fast database. We use special platforms for fast and work with various types of content data.</div>
        <a class="card" href="/en/technology/postgresql/" data-aos="fade-up">
          <div class="content postgresql"></div>
          <div class="title">
            Postgre SQL
          </div>
        </a>
        <a class="card half" href="/en/technology/elastic/" data-aos="fade-up">
          <div class="content elastic"></div>
          <div class="title">
            ElasticSearch
          </div>
        </a>
        <a class="card half" href="/en/technology/firebase/" data-aos="fade-up">
           <div class="content firebase"></div>
           <div class="title">
             Firebase
           </div>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<br />

<%= partial 'footer' %>
