<div class="test">
	<div class="row">
		<div class="col-50">
			<div class="box box1">
				<img height="90" width="91" class="circle circle4" alt="Iquest_circle1" src="/images/iquest_circle1.png" />
			</div>
		</div>
		<div class="col-50">
			<div class="box box2">
				<img height="90" width="91" class="circle circle3" alt="Iquest_circle2" src="/images/iquest_circle2.png" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-50">
			<div class="box box3">
				<img height="90" width="91" class="circle circle1" alt="Iquest_circle3" src="/images/iquest_circle3.png" />
			</div>
		</div>
		<div class="col-50">
			<div class="box box4">
				<img height="90" width="91" class="circle circle2" alt="Iquest_circle4" src="/images/iquest_circle4.png" />
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(event) { 
		setTimeout(function() {
			document.querySelector(".circle1").classList.add("circle1-end", "circle-new");
			document.querySelector(".circle1").classList.remove("circle1", "circle");
			document.querySelector(".circle2").classList.add("circle2-end", "circle-new");
			document.querySelector(".circle2").classList.remove("circle2", "circle");
			document.querySelector(".circle3").classList.add("circle3-end", "circle-new");
			document.querySelector(".circle3").classList.remove("circle3", "circle");
			document.querySelector(".circle4").classList.add("circle4-end", "circle-new");
			document.querySelector(".circle4").classList.remove("circle4", "circle");
		}, 2000);
	});
</script>
