---
title: We are looking for developers in Prague and Brno | iQuest s.r.o.
subtitle: To our team, we accept Frontend and Backend developers. iQuest is a stable development team that has been developing extensive web solutions and mobile applications for over 14 years.
---
<div class="page-offset volne-offset">
	<div class="circles">
		<div class="bg-point4 circle index1 orange" data-aos="zoom-in"></div>
		<div class="bg-point5 circle index2 orange" data-aos="zoom-in"></div>
		<div class="bg-point1 circle index1 yellow" data-aos="zoom-in"></div>
		<div class="bg-point2 circle index2 yellow" data-aos="zoom-in"></div>
		<div class="bg-point3 circle index3 yellow" data-aos="zoom-in"></div>
		<div class="bg-point7 circle index1 blue" data-aos="zoom-in"></div>
		<div class="bg-point8 circle index2 blue" data-aos="zoom-in"></div>
		<div class="bg-point9 circle index3 blue" data-aos="zoom-in"></div>
		<div class="bg-point10 circle index1 green" data-aos="zoom-in"></div>
	</div>
	<div class="row">
		<div class="col-40">
			<h1 class="h1-volne" data-aos="fade-right">Volné pozice:</h1>
			<img alt="volné pozice v iQuest s.r.o." src="/images/volne_pozice.jpg" class="volne-img" data-aos="fade-right">
		</div>
		<div class="col-offset-10 col-35 volne-text">
			<div class="row" data-aos="fade-left">
				<% link_to t('urls.frontend_developer') do %>
				<h1 class="volne-dev-h1">Frontend developer Prague</h1>
				<% end  %>
				<p class="volne-text-p">The position is suitable for both a senior developer and a skilled programmer, who is
					now in the process of creating common websites and wants to move further.</p>
			</div>
			<div class="row" data-aos="fade-left">
				<% link_to t('urls.backend_developer') do %>
				<h1 class="volne-dev-h1">Backend developer Prague</h1>
				<% end  %>
				<p class="volne-text-p">The position is suitable for senior developers and for a skillful junior programmer, who
					knows the programming ruby language and has experience in backend development.</p>
			</div>
		</div>
	</div>
</div>

<%= partial 'footer' %>
