---
title: Vývoj webových aplikací na míru pro Vaše podnikání | iQuest s.r.o.
subtitle: Vývoj webových aplikací nechte na nás. Vytvoříme pro Vás dokonalou, moderní a technologicky vyspělou webovou aplikaci, či rozsáhlý webový informační systém.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Vyvíjíme rozsáhlé webové aplikace<br />Aplikace na míru pro Vaše podnikání</h1>
    <h2 data-aos="fade-up">Od těch jednoduchých<br />po složité podnikové informační systémy</h2>
  </div>

  <%= partial 'kinds_of_products' %>

  <div class="what-is">
    <h3 data-aos="fade-up">Co jsou webové aplikace?</h3>
    <p data-aos="fade-up">
      <b>Webová aplikace</b> je software, který uživatel může používat prostřednictvím webového prohlížeče. Současné moderní technologie umožňují využívat internetový prohlížeč obdobně jako desktopovou aplikaci i pro velmi složité informační systémy. Příkladem <b>aplikace na webu</b> jsou
      např. Google Documenty, webová verze Microsoft Office nebo aplikace typu SalesForce, LinkedIn, Trello apod <b>Pracujete s prohlížečem obdobně jako s běžnými aplikacemi na desktopu, ale máte shodný přístup odkudkoliv</b>.
    </p>
  </div>
  <div class="we-are-the-champions" data-aos="fade-up">
    <div class="text-green">Vymýšlíme</div>
    <div class="text-green">Navrhujeme</div>
    <div class="text-green">Vyvíjíme</div>
    <div class="text-green">Integrujeme</div>
    <div class="text-green">Provozujeme</div>
  </div>
  <div class="info">
    <div class="box left">
      <img alt="vývoj webových aplikací na míru" src="/images/web_application_development_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>Jaký je rozdíl našich webových aplikací oproti běžným?</b></p>
        <p>Webové aplikace tvoříme podle nejnovějších světově uznávaných standardů a doporučení tak, aby splňovaly nejpřísnější normy uživatelské přívětivosti, rychlosti ovládání a bezpečnosti jejich užití. Vyvíjíme tak <b>webové aplikace na míru</b>, které uživatele nezatěžují, ale pomáhají jim. <b>Programování webové aplikace</b> probíhá vždy po předchozím návrhu softwarové architektury zkušeným systémovým architektem. Webové aplikace na zakázku tvoříme pomocí moderních webových frameworků jako Ruby on Rails a Ember JS.</p>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <h3 class="text-green text-center" data-aos="fade-up">Vytvoříme pro Vás dokonalou, moderní a technologicky vyspělou<br />webovou aplikaci, či rozsáhlý webový informační systém.</h3>
  <div class="benefits">
    <h3 data-aos="fade-up">Výhody tvorby webových aplikací na míru</h3>
    <div class="benefits-content">
      <div class="box" data-aos="fade-up">
        <div class="icon-circle green-dark">
          <i class="fa fa-tablet" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Přístup z jakéhokoliv zařízení.</b><br />Uživatel může používat <strong>webovou aplikaci nové generace</strong> z libovolného počítače, notebooku, tabletu nebo dokonce mobilního telefonu z jakéhokoli místa na světě.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle yellow-dark">
          <i class="fa fa-database" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Ochrana před ztrátou dat.</b><br />Uživatelská data jsou uložena v "cloudu", jejichž integritu zajišťují poskytovatelé hostingu, takže data jsou chráněna před náhodnou ztrátou, když je poškozen pevný disk počítače.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle blue-dark">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Možnost souběžné práce pro více uživatelů.</b><br />Každý uživatel může mít vlastní účet ve webové aplikaci, zatímco práva uživatelů se mohou lišit a samotní uživatelé mohou být rozdělení podle firemních účtů.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle orange-dark">
          <i class="fa fa-download" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Automatická aktualizace.</b><br />Aplikace na web má vždy stejnou verzi a stejný vzhled pro všechny uživatele. Je to vhodné jak pro technickou podporu, tak pro uživatele, kteří vždy používají nejnovější verzi.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle green-dark">
          <i class="fa fa-cloud" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Veškerá data a nastavení dostupná odkudkoliv</b> na internetu, samozřejmě včetně mobilních zařízení.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle yellow-dark">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Bezpečnost</b> je hlídána centrálně na úrovni serveru, nikoliv na úrovni notebooku každého uživatele.</p>
      </div>
      <div class="box" data-aos="fade-up">
        <div class="icon-circle blue-dark">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Snadná údržba.</b><br />Není potřeba řešit konkrétní instalaci u uživatele, žádná není.</p>
      </div>
    </div> <!-- .benefits-content -->
  </div>

  <div class="info">
    <div class="box left">
      <img alt="webové aplikace na míru pro Vaše podnikání" src="/images/web_application_development_3.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><strong>Jak probíhá tvorba webových aplikací:</strong></p>
        <ul>
          <li><strong>Průzkum</strong> - Než začneme aplikaci navrhovat a programovat, provádíme průzkum podniku zákazníka a jeho produktů.</li>
          <li><strong>Analýza a návrh zadaní</strong> - Jen na základě detailní analýzy celého řešeného prostředí (podnik a jeho okolí) můžeme navrhnout <strong>dokonalou webovou aplikaci na zakázku</strong>.</li>
          <li><strong>Návrh architektury webové aplikace</strong> - zadání tvoří 50% úspěchu celého projektu. Pomůžeme s vypracováním zadaní, který bude přesně popisovat projekt a odpovídat Vašim představám. </li>
          <li><strong>Volba technologií</strong> - pro vývoj webových aplikací nové generace volíme nejlepší aktuální technologie.</li>
          <li><strong>Design</strong> - Pomůžeme vytvořit produkt, který bude mít charakter a své vlastní zásady. </li>
          <li><strong>Psaní kódu</strong> - Na vývoji se podílí vždy řada členů našeho týmu, a to vždy na základě jejich specializace pro danou součást vyvíjené aplikace.</li>
          <li><strong>Testování</strong> - Provádíme důkladné testování automatizovanými nástroji i precizními testery.</li>
          <li><strong>Nasazení</strong> - Před nasazením aplikace komunikujeme s budoucími uživateli, pracujeme na jejich školení. </li>
          <li><strong>Podpora</strong> - V průběhu provozu systému se má vždy uživatel na koho obrátit a konzultovat použití a úpravy informačního systému.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="box right">
      <img alt="webové aplikace na míru pro Vaše podnikání" src="/images/web_application_development_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Jaké webové aplikace jsme vytvořili?</b></p>
        <p><b>Za dobu naší existence jsme vytvořili velké množství webových aplikací. Příklady jsou zde: <a href="/reference">Více v referencích</a>.</b></p>
        <ul>
          <li>Specializovaný CRM software pro management práce <b>obchodních reprezentantů</b> pro Green­Swan Pharmaceuticals.</li>
          <li>Dispečink a callcentrum <b>Modrý anděl</b>.</li>
          <li>Plně integrovaný <b>velkoobchodní nákupní systém</b> distributora náhradních dílů na automobily PARTSPOINT.</li>
          <li>Systém pro management práce <b>stovek merchandiserů</b> pro Space and Profit.</li>
          <li>Systém pro management <b>stovek zdravotních sester</b> při domácí zdravotní péči společnosti Procare.</li>
          <li>A mnoho dalších (<a href="/reference">reference</a>).</li>
        </ul>
      </div>
    </div>
  </div>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })
</script>
