---
title: Vývoj webových aplikací na míru pro Vaše podnikání | iQuest s.r.o.
subtitle: Vývoj webových aplikací nechte na nás. Vytvoříme pro Vás dokonalou, moderní a technologicky vyspělou webovou aplikaci, či rozsáhlý webový informační systém.
---
<div class="subpage container-lg">
  <header class="subpage-header row">
      <div class="col-30 intro-text-container relative">
        <div class="back-fixed" data-aos="fade-left">
          <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
        </div>
        <div class="header-text" data-aos="fade-up">
          <h2>Vyvíjíme řešení, na kterých stojí business velkých a často nadnárodních firem. Víme, jak správně navrhnout architekturu velkých webových aplikací, na které se můžete spolehnout.
            <br><br>
            Provoz aplikací v cloudu je vhodný pro většinu našich zákazníků a aplikací. <br>  <br> Naprostá spolehlivost. 
          </h2>
        </div> 
        <div class='flex container-i-want-to-know-more items-center'>
          <a href="#subpage-numbers" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
        </div>
      </div>
      <div class="intro-image-container relative col-70">
        <div class="intro-image-container-in"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/business_applications_yellow.png" alt="firemní aplikace"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/startups_blue.png" alt="Startupy"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/social_green.png" alt="Sociální sítě"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/B2B_orange.png" alt="B2B portály"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/business_applications_cerculean.png" alt="Obchodní systémy"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/reservation_systems_gray.png" alt="Obchodní systémy"></div>
        <div class="smartphone-image-container"><img src="/images/Smartphons/science_web_persian_green.png" alt="Naučné weby"></div>
      </div>
  </header>
  <div class="subpage-points">
    <ul class='subpage-numbers' id="subpage-numbers">
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/1.png" alt="one">
        <div data-aos="fade-left">
          <h2>Robustní řešení rozsáhlé webové aplikace</h2>
          <p>Vyvíjíme rozsáhlá řešení, na kterých stojí business velkých a často nadnárodních firem.</p>
          <p>Víme, jak správně navrhnout architekturu rozsáhlých řešení, na která se můžete spolehnout.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/2.png" alt="two">
        <div data-aos="fade-left">
          <h2>Skvělý design, intuitivní ovládání, perfektní uživatelský prožitek</h2>
          <p>Ne designu nám záleží. Uživateli se musí software líbit a vždy musí vědět, kam kliknout.</p>
          <p>Každý druh webové aplikace si vyžaduje jiný grafcký přístup a to nás nesmírně baví.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/3.png" alt="three">
        <div data-aos="fade-left">
          <h2>Nejmodernější technologie pro webové aplikace nové generace</h2>
          <p>Kombinace robustních serverových technologií a moderních frontend technologií zajišťuje rychlé ovládání, okamžitou odezvu v prohlížeči i na mobilním zařízení a nejvyšší úroveň bezpečnosti.</p>
          <p>Tvoříme webové aplikace nové generace.</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/4.png" alt="four">
        <div data-aos="fade-left">
          <h2>Cloudová řešení jsou pro nás standardem</h2>
          <p>Provoz aplikací v cloudu je vhodný pro většinu našich zákazníků a aplikací.Naprostá spolehlivost,</p>
        </div>
      </li>
      <li class="flex items-center">
        <img class="numbers" data-aos="fade-right" src="/images/Numbers/5.png" alt="five">
        <div data-aos="fade-left">
          <h2>Nad aplikacemi přemýšlíme při návrhu i vývoji</h2>
          <p>Nejsme jen programátoři. S našimi zákazníky vždy aktivně hledáme to nejlepší řešení. Děláme pravidelné meetingy, kde vymýšlíme, jak udělat věci ještě lepší a krásnější.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="subpage-reference">
    <div class=''>
      <%= partial 'references' %>
    </div>
  </div>
  <div class="subpage-more-information bg-stretch">
    <div class="more-information__buttons" data-aos="fade-right">
      <% link_to t('urls.why_iquest'), :class => 'button', 'aria-label': "přejít na stránku proč iquest" do %>
        Proč vybrat iQuest?
      <% end %>
      <% link_to t('urls.reference'), :class => 'button', 'aria-label': "přejít na stránku více referencí" do %>
        Reference
      <% end  %>
      <a href="/kontakt" aria-label="Kontaktujte nás" class='button'>Kontaktujte nás</a>
    </div>
  </div>
  <!-- <div class="subpage-our-technology">
    <%= partial 'our_technology' %>
  </div> -->
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })
</script>
