---
title: Bootstrap - web applications development | iQuest s.r.o.
subtitle: Thanks to the unification of the interface, it is easy to create responsive websites that are fully usable from both large monitors and small mobile phone displays.
---
<div class="page-load">
  <div class="page-scroll-show page-offset bootstrap">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Bootstrap" src="/images/Techs/bootstrap.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Bootstrap</h1>
          <p data-aos="fade-up"><b>Bootstrap</b> framework serves to editing typography, forms, buttons and other HTML components, CSS, web and web application layout. Thanks to the unification of the interface, it is easy to create <b>responsive websites</b> that are completely usable from large monitors (desktop PCs) to small mobile phone displays.</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="http://getbootstrap.com/" target="_blank">getbootstrap.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav_en' %>
