---
title: Ember JS - web and mobile applications development | iQuest s.r.o.
subtitle: Ember JS is popular not only for desktop applications but also for mobile. It ensures fast and efficient work with systems.
---
<div class="page-load">
  <div class="page-scroll-show page-offset emberjs">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Emberjs" src="/images/Techs/emberjs.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h2 data-aos="fade-up">Ember JS</h2>
          <p data-aos="fade-up">A leading javascript framework for creating more and more popular “<b>single-page</b>“ applications. By transferring logic to the client part (web browser) the application becomes faster, more user-friendly and less burden a server. <b>Ember JS</b> is popular not only for desktop applications but also for mobile, across all leading platforms (<b>Android</b>, <b>iOS</b>, <b>Windows</b>).</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="https://emberjs.com/" target="_blank">emberjs.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav_en' %>
