---
title: React - web applications development | iQuest s.r.o.
subtitle: Thanks to the unification of the interface, it is easy to create responsive websites that are fully usable from both large monitors and small mobile phone displays.
---
<div class="page-load">
  <div class="page-scroll-show page-offset react">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="react" src="/images/Technology/react.svg" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">React</h1>
          <p data-aos="fade-up"><b>React</b> is a JavaScript innovative library for building user interfaces.  Which helps create fast, modern and easily changeable <b><a href="http://blog.iquest.cz/2017/12/trendy-ve-webovem-vyvoji-v-roce-2018.html" class="text-blue">single-page</a></b> Web applications or <b><a class="text-blue" href="http://blog.iquest.cz/2017/12/proc-vas-podnik-potrebuje-vlastni.html">mobile applications</a></b>. <br>
          The main advantage of library is fast fetching rapidly changing data that needs to be recorded. <br></p>
          <p data-aos="fade-up">It is maintained by <b>Facebook</b>. And <b>Instagram, Netflix, WhatsApp</b> was built using <b>React</b></p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="https://reactjs.org" target="_blank">reactjs.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav_en' %>
