---
title: React - vývoj webových aplikací | iQuest s.r.o.
subtitle: Díky unifikaci rozhraní lze jednoduše vytvářet responsivní weby, které jsou zcela použitelné od velkých monitorů (desktopových PC), až po malé displeje mobilních telefonů.
---
<div class="page-load">
  <div class="page-scroll-show page-offset react">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="React" src="/images/Technology/react.svg" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h2 data-aos="fade-up">React</h2>
          <p data-aos="fade-up"><b>React</b> je JavaScriptová revoluční knihovna pro tvorbu uživatelského rozhraní, pomoci které je možno vytvářet rychlé, moderní a jednoduché proměnlivé <b><a href="http://blog.iquest.cz/2017/12/trendy-ve-webovem-vyvoji-v-roce-2018.html" class="text-blue">single-page</a></b> webové aplikace nebo <b><a class="text-blue" href="http://blog.iquest.cz/2017/12/proc-vas-podnik-potrebuje-vlastni.html">mobilní aplikace</a></b>. <br> Hlavní výhodou <b>reactu</b> je rychlá odezva, převážně při práci s rychle se měnicími daty. <br></p>
          <p data-aos="fade-up">Knihovna vyvinutá <b>facebookem</b> využívají ji společnosti jako <b>Instagram, Netflix, WhatsApp</b> a další.</p>

        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="https://reactjs.org" target="_blank">reactjs.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav' %>
