---
title: React Native | iQuest s.r.o.
subtitle: Compiled language for expanding CSS syntax options.
---
<div class="page-load">
  <div class="page-scroll-show page-offset react-native">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="React Native" src="/images/Technology/react.svg" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h2 data-aos="fade-up">React Native</h2>
          <p data-aos="fade-up"><b>React Native</b> is an open-source mobile application framework created by Facebook. It is used to develop applications for Android and iOSInstead. Instead of recompiling, your app reloads instantly with help of this technology.</p>

</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="https://facebook.github.io/react-native/" target="_blank">react-native</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav_en' %>
