---
title: Ruby on Rails - web applications development | iQuest s.r.o.
subtitle: Ruby on Rails is a framework for web applications creation. It is based on the most modern technologies that make creation of customized web applications easy and fast.
---
<div class="page-load">
  <div class="page-scroll-show page-offset ruby-on-rails">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="ruby-on-rails" src="/images/Techs/ruby-on-rails.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Ruby on Rails</h1>
          <p data-aos="fade-up"><b>Ruby on Rails</b> is a framework for web applications creation. It is based on the most modern technologies that make creation of customized web applications easy and fast. Thanks to clearly defined conventions, such as <b>MVC (Model-View-Controller)</b>,
            it is possible to build the functional basis of the application in a very short time while other frameworks are just beginning with the system configuration.</p>
          <p data-aos="fade-up">Thousands of web apps have been created through <b>Ruby on Rails</b>, such as <a href="https://twitter.com/" target="_blank"><b>Twitter</b></a>, <a href="https://www.groupon.com/" target="_blank"><b>Groupon</b></a>, <a href="http://www.hulu.com/"
              target="_blank"><b>Hulu</b></a>, či <a href="https://soundcloud.com/" target="_blank"><b>SoundCloud</b></a>. Ruby language, on which is <b>Ruby on Rails</b> based, use companies like <a href="http://www.apple.com/" target="_blank"><b>Apple</b></a>,
            <a href="https://github.com/" target="_blank"><b>Github</b></a>, <a href="http://www.nytimes.com/" target="_blank"><b>The New York Times</b></a>, or <a href="http://www.yellowpages.com/" target="_blank"><b>Yellow Pages</b></a>.</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="http://www.rubyonrailspraha.cz/" target="_blank">www.rubyonrailspraha.cz</a>
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="http://rubyonrails.org/" target="_blank">rubyonrails.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'technology_nav_en' %>
