---
title: Bakker Czech Republic | iQuest s.r.o.
subtitle: logistický systém GreenGate
---
<div class="page-load">
  <div class="page-scroll-show page-offset bakker">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="bakker" src="/images/Refs/bakker.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h2 data-aos="fade-up">BAKKER, s.r.o.</h2>
          <p data-aos="fade-up">Nadnárodní společnost Bakker zajišťuje logistiku pro obchodní řetězce Ahold (Albert). Navrhli jsme a vytvořili komplexní systém pro plánování a optimalizaci dovozu veškerého sortimentu ovoce a zeleniny kamionovou přepravou do ČR. Systém rovněž optimalizuje plánování a organizaci rozvozu z centrálního skladu do distribučních center.</p>
          <p>Námi vytvořený systém GreenGate využívají i dodavatelé v evropských zemích, kteří jsou plně informováni o příjezdu kamionů na nakládky a mají vždy všechny potřebné informace, které k dodání svého zboží do ČR prostřednictvím kamionů potřebují.</p>
          <p>Integrované monitory pak informují pracovníky v centrálním skladu o času příjezdů jednotlivých vozů na vykládku a tím pomáhají zefektivnit proces probíhající při vyskladnění.</p>
          <br>
          <p><b>Obsah implementace:</b></p>
          <ul>
            <li>komplexní logistický systém</li>
            <li>reporting pro administrátora</li>
            <li>detailní monitoring jednotlivých objednávek</li>
            <li>rozhraní pro dodavatele v evropských zemích</li>
            <li>optimalizace plánování přeprav, nakládek, vykládek, směn jednotlivých řidičů, vytížení vozidel apod.</li>
          </ul>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Vývoj pro mobilní zařízení.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integrace mapového subsystému.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptace uživatelů.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Provozování v prostředí cloudu.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>