---
title: Česmad | iQuest s.r.o.
subtitle: Česmad je sdružení dopravců podnikajících ve vnitrostátní a mezinárodní nákladní a osobní dopravě v České republice.
---
<div class="page-load">
  <div class="page-scroll-show page-offset greenswan">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img style="background-color: #1A4871; padding: 8px;" class="logo" alt="Greenswan" src="/images/Refs/cesmad.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Česmad</h1>
          <p><b>Implementation content:</b></p>
          <p data-aos="fade-up">Mobile application TIRParking for truck drivers, which helps them easily firnd a rest area. At the same time the application makes the signals when the time has come for the legal break.</p>
          <br>
          <p data-aos="fade-up"><b>Zajímavé vlastnosti:</b></p>

          <ul>
              <li>UX optimization</li>
              <li>intelligent display of suitable rest areas</li>
              <li>reporting for the administrator</li>
          </ul>


          <br>
          <p data-aos="fade-up"><b>Popis:</b></p>
          <p data-aos="fade-up">Česmad is an association of carriers operating in domestic and international freight and passenger transport in the Czech Republic.</p>
          <br>
          <p><b>Required skills:</b></p>
          <ul>
            <li>system analysis and design system</li>
            <li>creation of the project and the necessary analytical models</li>
            <li>programming (multiple platforms)</li>
            <li>project management</li>
            <li>map subsystem integration</li>
          </ul>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Vývoj pro mobilní zařízení.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integrace mapového subsystému.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptace uživatelů.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Provozování v prostředí cloudu.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>