---
title: Doosan | iQuest s.r.o.
subtitle: Pro společnost Doosan jsme vyvinuli administrátorskou webovou a desktopovou aplikaci pro správu manuálů pro stavební stroje, bagry, vysokozdvižné vozíky atp. v různých jazykových mutacích. Aplikace umožňuje uživatelům stáhnout si manuál ke konkrétnímu vozíku.
---
<div class="page-load">
    <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
    </a>
    <div class='reference__block--first'>
      <div class='reference__block--first_info'>
        <div>
          <img class='reference__block--first_info-logo' src='/images/Refs/greenswan_full.png' />
        </div>
        <div class='flex'>
          <div class='company-titles align-self-end'>Společnost:</div>
          <div class='company-name flex-4'>Green Swan pharmaceusticals</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Řešení:</div>
          <div class='company-solution flex-4'>Specializovaný CRM systém pro management obchodních reprezentatů</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Výsledkem:</div>
          <div class='company-result flex-4'>Náš systém pomohl s organizací a řešením obchodních reprezentatů v reténu.</div>
        </div>
      </div>
      <img class='reference__block--first_pills' src='/images/pills.png' />
    </div>

    <div class='reference__block--second'>
      <div class='reference__block--second_text'>
        Společnost Green-Swan Pharmaceusticals se zabývá výrobou a distribucí léků, zdravotnických prostředků a účinných doplňků stravy.
      </div>
      <div class='reference__block--second_text'>
        Je jedním z předních hráčů na českém a slovenském trhu. Její produkty, jako je např. GS Condro, znáte z lékáren a z televizních reklam.
      </div>
      <img class='reference__block--second_pills' src='/images/Refs/greenswan_pack_pills.png' />
    </div>

    <div class='reference__block--third'>
      <div class='reference__block--third_title'>
        Zefektivnění obchodního týmu a práce sales managerů
      </div>
      <div>
        <div class='reference__block--third_text m-b-6'>
          Z jednoduchého systému obsahující plánovací kalendáře a jednoduché karty klientů se postupně stal
          rozsáhlý CRM systém s rozsáhlou databází klientů, který pomocí tabletové aplikace zpřístupnil obchodním
          reprezentantům vždy přesné ty informace, které v dané chvíli a u daného klienta potřebovali.
        </div>
        <div class='reference__block--third_text'>
          Současně zpřístupnil managementu možnost pružného plánování obchodních akcí a zpřístupnil okamžité
          výsledky z terénu.
        </div>
      </div>
    </div>

    <div class='reference__block--fourth'>
      <div class='reference__block--fourth_bgvideo'>
        <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.png">
          <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
          <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
          <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
          <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
          Váš prohlížeč nepodporuje značku videa.
        </video>
      </div>
    </div>

    <div class='reference__block--fifth'>
      <img class='reference__block--fifth_plan' src='/images/plan.png' />

      <div class='reference__block--fifth_points'>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Pružné nastavení obchodních manažery přímo v aplikaci</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Online plánování návštěv obchodníků s inteligentním rádcem dle situace v terénu</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Informace dostupné obchodníkům vždy online. Právě ty, které potřebují u daného klienta</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Jasné zadání a plnění úkolů a plánů obchodníky</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Inteligence na vnitřní systémy společnosti</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Integrace na distributory</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Rozsáhlý reporting</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Desktop a tablet</div>
        </div>
      </div>
    </div>

    <div class='reference__block--sixth'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní
          a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img src='/images/arrow_right.png' /></div>
        </div>
      </div>
    </div>


    <div class='reference__block--seventh'>
      <span class='reference__block--seventh_dots'></span>
        <div class='reference__block--seventh_title'>Proč nás?</div>
        <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
        <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
        <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
        <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
        <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
        <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
    </div>

    <div class='reference__block--eighth'>
      <div class='reference__block--eighth_background'>
        <a class='reference__block--eighth_link'>Proč vybrat IQuest?</a>
        <a class='reference__block--eighth_link'>Reference</a>
        <a class='reference__block--eighth_link'>Kontaktujte nás</a>
      </div>
    </div>

    <%= partial 'footer' %>


</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
