---
title: Doosan | iQuest s.r.o.
subtitle: Pro společnost Doosan jsme vyvinuli administrátorskou webovou a desktopovou aplikaci pro správu manuálů pro stavební stroje, bagry, vysokozdvižné vozíky atp. v různých jazykových mutacích. Aplikace umožňuje uživatelům stáhnout si manuál ke konkrétnímu vozíku.
---
<div class="page-load">
    <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
    </a>
    <div class='reference__block--first'>
      <div class='reference__block--first_info'>
        <div>
          <img class='reference__block--first_info-logo' src='/images/Refs/greenswan_full.png' />
        </div>
        <div class='flex'>
          <div class='company-titles align-self-end'>Společnost:</div>
          <div class='company-name flex-4'>Green Swan pharmaceusticals</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Řešení:</div>
          <div class='company-solution flex-4'>Specializovaný CRM systém pro management obchodních reprezentatů</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Výsledkem:</div>
          <div class='company-result flex-4'>Náš systém pomohl s organizací a řešením obchodních reprezentatů v reténu.</div>
        </div>
      </div>
      <img class='reference__block--first_pills' src='/images/pills.png' />
    </div>

    <div class='reference__block--second'>
      <div class='reference__block--second_text'>
        Společnost Green-Swan Pharmaceusticals se zabývá výrobou a distribucí léků, zdravotnických prostředků a účinných doplňků stravy.
      </div>
      <div class='reference__block--second_text'>
        Je jedním z předních hráčů na českém a slovenském trhu. Její produkty, jako je např. GS Condro, znáte z lékáren a z televizních reklam.
      </div>
      <img class='reference__block--second_pills' src='/images/pack_pills.png' />
    </div>

    <div class='reference__block--third'>
      <div class='reference__block--third_title'>
        Zefektivnění obchodního týmu a práce sales managerů
      </div>
      <div>
        <div class='reference__block--third_text m-b-6'>
          Z jednoduchého systému obsahující plánovací kalendáře a jednoduché karty klientů se postupně stal
          rozsáhlý CRM systém s rozsáhlou databází klientů, který pomocí tabletové aplikace zpřístupnil obchodním
          reprezentantům vždy přesné ty informace, které v dané chvíli a u daného klienta potřebovali.
        </div>
        <div class='reference__block--third_text'>
          Současně zpřístupnil managementu možnost pružného plánování obchodních akcí a zpřístupnil okamžité
          výsledky z terénu.
        </div>
      </div>
    </div>

    <div class='reference__block--fourth'>
      Video
    </div>

    <div class='reference__block--fifth'>
      <img class='reference__block--fifth_plan' src='/images/plan.png' />

      <div class='reference__block--fifth_points'>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Pružné nastavení obchodních manažery přímo v aplikaci</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Online plánování návštěv obchodníků s inteligentním rádcem dle situace v terénu</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Informace dostupné obchodníkům vždy online. Právě ty, které potřebují u daného klienta</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Jasné zadání a plnění úkolů a plánů obchodníky</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Inteligence na vnitřní systémy společnosti</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Integrace na distributory</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Rozsáhlý reporting</div>
        </div>
        <div class='flex align-center'>
          <img class='m-r-2' src='/images/checkmark.png'/>
          <div>Desktop a tablet</div>
        </div>
      </div>
    </div>

    <div class='reference__block--sixth'>

    </div>


  <div class='delete_me'>hovno</div>


</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
