<div class='background-image-full'>
    <img src="/images/educational_content/jak-vybrat-dodavatele.jpg" alt="jak vybrat dodavatele software">
    <div class="img-cover" id="img-cover" style="background: rgba(72, 81, 90, 0.8);"></div>
</div>
<div class="full-page image-background transparent" id="one" data-color="rgba(72, 81, 90, 0.8)">
    <div class="circles" style="top: 0px;">
        <div data-aos="zoom-in" class="circle index1 yellow"></div>
        <div data-aos="zoom-in" class="circle index2 yellow"></div>
        <div data-aos="zoom-in" class="circle index3 yellow"></div>
        <div data-aos="zoom-in" class="circle index1 orange"></div>
        <div data-aos="zoom-in" class="circle index2 orange"></div>
        <div data-aos="zoom-in" class="circle index3 orange"></div>
        <div data-aos="zoom-in" class="circle index1 blue"></div>
        <div data-aos="zoom-in" class="circle index2 blue"></div>
        <div data-aos="zoom-in" class="circle index3 blue"></div>
        <div data-aos="zoom-in" class="circle index1 green"></div>
        <div data-aos="zoom-in" class="circle index2 green"></div>
        <div data-aos="zoom-in" class="circle index3 green"></div>
    </div>
        <div class="narrow text-center text-white">
            <div class="ico-shadow start-up">
           <img src="/images/educational_content/startup-ico.svg" alt="startup">
         </div>
         <div class="row"><h4 class="subtitle" data-aos="fade-up">Vybírám dodavatele</h4></div>
            <div class="row"><h1 class="title-1" data-aos="fade-up">Je to na dlouho.<br>Jak se nesplést?</h1></div>
            <div class="row">
                <p class="text-center">Stěžejním rozhodnutím před realizací vašeho projektu je rozhodnutí o tom, komu jeho realizaci svěřit. Je lepší důvěřovat vývojáři, nebo firmě? Jaká úskalí vás u obou možností čekají?</p>
            </div>
        </div>

    <a href="#two" class="ico-shadow arrow-down scroll-link">
        <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
    </a>
</div>
<div class="row advice-points" id="two" data-color="rgba(255, 255, 255, 0.91)">
    <div class="row narrow">
        <div class="number">
            <span>1</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">Nejsem tak bohatý, abych si mohl kupovat levné věci</h2>
            <p style="transition: color 0.5s ease 0s;">Anglické přísloví říká “Nejsem tak bohatý, abych si mohl kupovat levné věci”  (Original: “I'm not rich enough to afford cheap things”) <br style="transition: color 0.5s ease 0s;">
                Při vyhledávaní dodavatele se můžete setkat s nabídkami typu “Kvalitní, rychlé, levné”. Takovým nabídkám raději nevěřte. Kvalitní software je analýza, návrh projektu, práce týmu odborníků a následující podpora, a to všechno dohromady nemůže byt levné. Určitě se můžete obrátit na levnou firmou, ale pamatujte, že “lakomý platí dvakrát”.</p>
        </div>
    </div>


    <div class="row narrow">
        <div class="number">
            <span>2</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">Ďábel se skrývá v detailech</h2>
            <p style="transition: color 0.5s ease 0s;">Když zadáte do vyhledávače <a href="https://www.iquest.cz/webove-aplikace-na-miru/" style="transition: color 0.5s ease 0s;">“vývoj webové aplikace”</a>, objeví se vám spousta firem, které jsou zaměřené na tvorbu webových stránek, ale pro jistotu také nabízejí službu vývoj webových a mobilních aplikací. Jenže vývoj aplikaci vyžaduje použití jiných principů, technologií a scénářů než tvorba webových stránek. Pokud potřebujete rozsáhlý online systém, dávejte si záležet na specializaci dodavatele.</p>
        </div>
    </div>


    <div class="row narrow">
        <div class="number">
            <span>3</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">“Historie je vždy současná” <span style="transition: color 0.5s ease 0s;">Benedetto Croce</span></h2>
            <p style="transition: color 0.5s ease 0s;">Každá solidní firma poskytuje na svém webu informace o tom, jak dlouho působí na trhu a a jaké zkušenosti za tu dobu získala. Čím déle firma existuje, tím spíš je důvod se na ně obrátit. Za prvé, firma si cení své reputace na trhu, a proto nebude nabízet služby nevalné kvality. Za druhé, starší firmy mají zpravidla dobré zkušenosti, které Vám pomůžou rozhodnout se v jejich prospěch.</p>
        </div>
    </div>


    <div class="row narrow">
        <div class="number">
            <span>4</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">Na odbornosti záleží</h2>
            <p style="transition: color 0.5s ease 0s;">Existují firmy a lidi, jež se specializují na určité věci a existují i ti, kteří se věnují všem oblastem pouze povrchově. Když vybíráte dodavatele, dejte přednost tomu, který se specializuje na druh aplikace, o kterou máte zájem.</p>
        </div>
    </div>

    <div class="row narrow">
        <div class="number">
            <span>5</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">Reference jsou důležité</h2>
            <p style="transition: color 0.5s ease 0s;">Společnost nejlépe charakterizují výsledky její činnosti a seznam klientů, kteří se na ni obrátili. Je třeba dát si pozor na <a href="https://www.iquest.cz/reference/" style="transition: color 0.5s ease 0s;">reference</a> potenciálního dodavatele. Pozorně si přečíst, co se o něm píše, jakým společnostem dodával jaké služby apod. Pokud je firma mladá a ve svém portfoliu má známé a velké značky, nemusí to být známkou kvality, známá značka nemusí ani vědět o tomto "poskytování služeb". Pokud reference firmy vypadají harmonicky, jsou mezi nimi malé či jednoduché projekty, a také velké a složité projekty, tak právě toto slouží jako ukazatel o schopnosti dodavatele.</p>
        </div>
    </div>

    <div class="row narrow">
        <div class="number">
            <span>6</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">“Expert je člověk, který přestal myslet - on ví!” <span style="transition: color 0.5s ease 0s;">Frank Lloyd Wrigh</span></h2>
            <p style="transition: color 0.5s ease 0s;">Dalším ukazatelem úrovně firmy je její jednatel. Jedná se o odborníka, který se vyzná v situaci na trhu, zúčastňuje se na projektech firmy, ví vše o své firmě a projektech a dokáže Vám poskytnout veškeré potřebné informace.</p>
        </div>
    </div>

    <div class="row narrow">
        <div class="number">
            <span>7</span>
        </div>
        <div class="text">
            <h2 style="transition: color 0.5s ease 0s;">Talent vyhrává zápasy, ale týmovost a inteligence vyhrávají šampionáty.<span style="transition: color 0.5s ease 0s;">Michael Jordan</span></h2>
            <p style="transition: color 0.5s ease 0s;">Seznámení s týmem vývojářů vám pomůže pochopit, v čích rukou je Váš projekt. Dobrým nápadem je navštívit kancelář dodavatele, kde zároveň uvidíte, jestli se opravdu jedná o solidní firmu.</p>
            <div class="ideas" style="transition: color 0.5s ease 0s;">
                <p style="transition: color 0.5s ease 0s;">Tato doporučení by Vám měla pomoci nesplést se a najít toho pravého dodavatele, který změní vaše myšlenky v software!</p>
            </div>
        </div>
    </div>


    <a href="#comparison" class="ico-shadow arrow-down scroll-link">
        <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
    </a>
</div>

<div class="row comparison" id="comparison">
    <div class="wrapper-small">
        <h2>Zvolit raději vývojáře, nebo firmu?</h2>
        <div class="separator">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row table">
            <div class="left">
                <div class="heading">
                    <h3>Vývojář</h3>
                </div>
                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Nižší cena</p>
                        <p class="subtitle">Nemá tolik nákladů jako firma</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Flexibilita</p>
                        <p class="subtitle">Může pracovat za vašich podmínek</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Individuální přístup</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">Lidský faktor</p>
                        <p class="subtitle">Freelancer může odjet na dovolenou, onemocnět a ne vždy Vám dá o tom vědět</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">Nedodržení termínu</p>
                        <p class="subtitle">Má víc projektů, je na to sám, nestíhá</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">Neexistence garance</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="heading second">
                    <h3>Firma</h3>
                </div>
                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Tým odborníků</p>
                        <p class="subtitle">Pokud jeden z týmu má potíže s projektem, může mu pomoci zbytek týmu</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Stálá komunikace</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon plus">
                        <img src="/images/educational_content/plus.svg" alt="plus">
                    </div>
                    <div class="text">
                        <p class="title">Komplexní služby</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">cena je vyšší</p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">Neosobitost</p>
                        <p class="subtitle">Komunikuje s Vámi ve většině případů vedoucí projektu, tzn. nekomunikujete zpravidla přímo s vývojářem </p>
                    </div>
                </div>

                <div class="point">
                    <div class="icon minus">
                    </div>
                    <div class="text">
                        <p class="title">Nespolehlivost</p>
                        <p class="subtitle">Firmy mohou být také nespolehlivé a řešit Váš projekt povrchně</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ideas">
            <p>Nezáleží na tom koho vyberete, hlavně aby společnost nebo vývojář uměl pochopit Váš záměr a “přečíst Váši myšlenky”. Vsaďte na zkušenost a zájem odborníka o Váš projekt a zůstanete spokojeni s výsledkem.</p>
        </div>
    </div>
</div>

<%= partial 'footer' %>