    <div class="developers-page">
        <div class="full-page">
          <div class="narrow title-container motto text-center">
            <div class="back-fixed ico-shadow" data-aos="fade-left">
                <a href="/"><i class="fa fa-3x fa-arrow-left"></i></a>
            </div>
                <h1 data-aos="fade-up" class="title-1">Vývojáři softwaru</h1>
                <h4 data-aos="fade-up" class="subtitle">Ponořte se do světa vývoje aplikací.</h4>
                <p data-aos="fade-up">Na vývoji software se podílí řada lidi a profesi, aby vytvářené webové či mobilní aplikace byli v&nbsp;každém ohledu promyšlené, správně navržené, graficky propracované a precizně implementované. Nikdy nestačí jeden vývojář, aby vznikl dokonalý systém. Vývoj probíhá týmově, abychom tak maximálně sdíleli zkušenosti z minulých projektů a každý nový software byl ještě na vyšší úrovni, než kdykoliv před tím.</p>
            </div>
            <a href="#two" class="ico-shadow arrow-down scroll-link">
                <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
            </a>
        </div>
      <div class="container-fluid" id="two">
        <div id="content-wrap" class="p-t-10">
          <div class="role-item description-right r25 active" data-aos="fade-right" id="role-1">
            <a href="#role-1" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-user" aria-hidden="true"></i></span>
              <span class="role-name">Uživatel</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span>
              <div class="role-description-in">
                <p>Uživatel je fyzická nebo právnická osoba, která používá konečný software v souladu s jeho účelem. Uživatel je nejdůležitější součástí ve vývoji webové či mobilní aplikace, prostředí a funkčnost software musí byt adoptováno jeho potřebám. Uživatel software může plnit několik roli:</p>
                <p>Role testera - testuje první verze aplikaci, píše recenze, což motivuje vývojáře aktualizovat a zdokonalovat aplikace.</p>
                <p>Role koncového zákazníka - nakonec každá mobilní a webová aplikace, každý informační systém je vytvořen pro uživatele a musí odpovídat jeho potřebám</p>
                <p>Role kritika - uživatel je jenom člověk, který není vždy spokojený s tím co vidí. Konstruktivní kritika od uživatele zase pomáhá vývojářům zdokonalit systém.</p>
                <p><a href="#role-2" data-target="#role-2" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r66" data-aos="fade-left" id="role-2">
            <a href="#role-2" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
              <span class="role-name">Vlastnik<br />projektu</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Vlastník projektu také zákazník je zpravidla ředitel společnosti, která chce vyvinout svůj software. Vlastník projektu má svoje představy a business cíle, které musí dodržet všechny účastnici projektu. </p>
                <p>Vlastník projektu:</p>
                <ul>
                  <li>Stanovuje účel projektu</li>
                  <li>Rozhoduje o prioritách řešení</li>
                  <li>Financuje projekt</li>
                  <li>Kontroluje závěrečný produkt</li>
                </ul>
                <p><a href="#role-3" data-target="#role-3" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r33" data-aos="fade-right" id="role-3">
            <a href="#role-3" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
              <span class="role-name">Management<br />zákaznika</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Tým specialistů, který řídí projekt ze strany zákazníka. Řeší otázky dodržení smlouvy, technického zadaní, dodací lhůty, kontroly kvality a jiné, související s projektem. Zadává úkoly vedoucímu projektu ze strany dodavatele a řeší s ním ostatní změny projektu. Management zákazníka je spojením koncového uživatele a týmu dodavatele aplikaci.</p>
                <p><a href="#role-4" data-target="#role-4" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r75" data-aos="fade-left" id="role-4">
            <a href="#role-4" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
              <span class="role-name">Business<br />analytik</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Business analytik je specialista, který zkoumá problémy zákazníka, hledá řešení a upravuje jeho koncept ve tvaru požadavků, na které se budou orientovat vývojáři v procesu vývoje software. Hlavním úkolem business analytika je odhalit problémy zákazníka a najít nejvíc efektivní řešení, proto musí mít nějaké znalosti v oboru.</p>
                <p>Mezi povinnosti business analytika patří:</p>
                <ul>
                  <li>Analýza business potřeb zákazníka</li>
                  <li>Sestavení požadavků k budoucímu produktu </li>
                  <li>Analýza požadavků</li>
                  <li>Analýza problémových oblasti a návrh pro jejich zlepšení</li>
                  <li>Prezentace požadavků zákaqzníkovi a dodavateli.</li>
                  <li>Analýza efektivity jednotlivých etap projektu a analýza efektivity projektu jako celku</li>
                </ul>
                <p><a href="#role-5" data-target="#role-5" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r25" data-aos="fade-right" id="role-5">
            <a href="#role-5" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-laptop" aria-hidden="true"></i></span>
              <span class="role-name">CIO<br />(vedoucí IT)</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>CIO (Chief Information Officer) neboli ředitel IT je vedoucím IT oddělení ve společnosti. Hlavním úkolem ředitele IT je vývoj infrastruktury IT a zpracování informační strategii vedení společnosti na základě nových technologii.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>vedení IT oddělení, řešení technických problémů</li>
                  <li>účast v plánování financování, kontrola nákladu v IT</li>
                  <li>spolupráce s partnery a dodavatele software</li>
                  <li>kontrola dokumentace ve svém oddělení</li>
                  <li>a jiné.</li>
                </ul>
                <p><a href="#role-6" data-target="#role-7" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r66" data-aos="fade-left" id="role-6">
            <a href="/" class="role-person-link role-dodavatel">
              <span class="role-photo"><img src="/images/educational_content/logo-200.png" alt="" class="img-circle img-fullwidth" /></span>
              <span class="role-name">Dodavatel</span>
            </a>
          </div>

          <div class="role-item description-right r33" data-aos="fade-right" id="role-7">
            <a href="#role-7" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-pied-piper" aria-hidden="true"></i></span>
              <span class="role-name">Marketingový<br />specialista</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Marketingový specialista je především manažer, zodpovědný za veškeré marketingové procesy ve firmě. Daný specialista posuzuje, zda bude výrobek poptáván a proč, nabízí distribuční cesty výrobku, hodnotí chovaní konkurence (zvláštnosti jejich produkce, cenovou politiku a pod.), organizuje práce výzkumného týmu, provádí monotorování oboru a analyzuje výsledky, zjišťuje preference uživatelů a pod.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Výzkum trhu a třních trendů</li>
                  <li>Volba cílového trhu</li>
                  <li>Výzkum chovaní spotřebitele</li>
                  <li>Zpracovaní marketingové strategie</li>
                  <li>Vedení marketingové strategii</li>
                  <li>Vedení komunikace se zákazníky</li>
                  <li>Kontrola a analýza výsledků práce</li>
                </ul>
                <p><a href="#role-8" data-target="#role-8" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r75" data-aos="fade-left" id="role-8">
            <a href="#role-8" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
              <span class="role-name">SEO<br />specialista</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>SEO specialista (angl. SEO - search engine optimization) realizuje vnitřní a vnější optimalizace webu či aplikace pro vyhledávače. V moderní době SEO je jednou z klíčových častí online marketingu, jak pro weby, tak i pro webové a mobilní aplikace.</p>
                <p>Dané povolání vzniklo nedávno. Se vznikem internetu a firemních webů, společnosti podporovali svoje weby hlavně pomocí odkazování. Specialisty přidávali weby do katalogu, ve kterém uživatel mohl najít vše co potřebuje. Nicméně, se zvýšením množství webů, odkazy začali ztrácet svoji efektivitu protože víc uživatelů dávalo přednost textovému vyhledávání. Daný trend přivedl k vzniku SEO specialistů. Začali se zabývat naplněním zdrojů články a texty, obsahujícími nejpopulárnější požadavky.</p>
                <p>Moderní způsoby hledání informace a způsoby rozvoje podnikaní se postupně přesouvají na internet. Tohle děla profese SEO specialista velmi aktuální.</p>
                <p>Základními nástroje SEO specialisty jsou:</p>
                <ul>
                  <li>Google Analytics je analytický nástroj, který mimo analytiku ukáže CTR, počet zobrazení webu a na které vyhledávací výrazy se zobrazuje a jiné užitečné informace o webu.</li>
                  <li>Collabim měří pozice klíčových slov ve vyhledávačích, navrhuje vhodná klíčová slova a měří pozice konkurentů na vámi navržené klíčová slova a pomůže najít tematický zaměřené weby.</li>
                  <li>Sklik a AdWords navrhuji klíčová slova, příbuzná klíčová slova a synonyma a analyzují hledanost klíčových slov a historie hledání.</li>
                  <li>Xenu’s link sleuth nebo Screaming Frog kontroluje nefunkční odkazy na webu, nedostatek hlaviček, chybné stránky 404. Kontrolu webů se doporučuje provádět po větších technických opravách.</li>
                  <li>Majestic SEO nebo Ahrefs sleduje a analyzuje kvalitu zpětných odkazů a odkazujících domén, také pomáhá zjistit nevhodné odkazy na web.</li>
                </ul>
                <p><a href="#role-9" data-target="#role-9" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r25" data-aos="fade-right" id="role-9">
            <a href="#role-9" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
              <span class="role-name">Copywriter</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Copywriter je specialista, který vytváří texty. Často to je univerzální spisovatel, který dokáže napsat reklamní text, instrukce k použití balonku a básničku k narozeninám babičky. Během tvorby textu copywriter vyhledává a zkoumá informace o předmětu svého psání klidně v různých jazycích, sbírá citáty a názory lidi, aby ve výsledku napsal kvalitní a zajímavý obsah.</p>
                <p>Kromě psání článku copywriter může řešit následující úlohy:</p>
                <ul>
                  <li>Rewriting - bere se hotový text a přepisuje se do jiné podoby.</li>
                  <li>SEO - copywriting - napsání textu s použitím klíčových slov. (např. webové a mobilní aplikace)</li>
                  <li>Tvorba prodávajících textů - je třeba popsat produkt nebo službu tak, aby zákazník ji hned chtěl koupit.</li>
                  <li>Napsání knihy - občas zákazník chce, aby copywriter napsal knihu o společnosti nebo odbornou literaturu.</li>
                  <li>Copywriter může mít i jiné úkoly, například napsaní reklamních inzerátu, sloganů, překlad a adaptace zahraničních textů, napsaní scénářů a pod.</li>
                </ul>
                <p><a href="#role-10" data-target="#role-10" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r66" data-aos="fade-left" id="role-10">
            <a href="#role-10" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
              <span class="role-name">Grafik</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Práce grafika je spojení tvorby a logiky. Grafik se stará o grafické zpracování produktu, reklamních podkladů a dalších propagačních materiálů. Za prvé se zabývá podstatou problematiky produktu, zkoumá produkt a vnímaní zákazníka, pak tomu produktu dodává tvář. Během své práce vymýšlí koncept produktu, pak podle zákazníka nápad upravuje až do výsledného precizního produktu. Zpracovává také návrhy webových stránek, mobilních a webových aplikaci, bannerů, billboardů, vizitek, produktu a dalších vizuálů. Během návrhu bere v úvahu nejen grafické zpracovaní, ale také vizuální styl, kompozici, rozdělení prvků včetně typografie, velikosti a typu písma. K finálním grafickým návrhům často zpracovává potřebnou dokumentaci – grafický manuál.</p>
                <p>Základní znalosti:</p>
                <ul>  
                  <li>Znalosti základů designu: základy malby a kresby, koloristiky a kompozice</li>
                  <li>Zvláštní znalosti v oblasti grafického designu: typy a žánry grafiky a grafických technik, práce s písmy, typografie, použití snímků a obrázků v grafickém designu</li>
                  <li>Schopnost pracovat s grafickými programy a editory (QuarkXPress‚ Photoshop, Illustrator‚ CorelDraw a další)</li>
                  <li>Často umí animaci, 3D grafiku, infografiku a jiné.</li>
                </ul>
                <p><a href="#role-11" data-target="#role-11" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r33" data-aos="fade-right" id="role-11">
            <a href="#role-11" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-users" aria-hidden="true"></i></span>
              <span class="role-name">Vedoucí projektu</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Vedoucí projektu či projektový manažer odpovídá za celkový projekt vývoje aplikaci, řídí pracovní procesy a rozděluje úkoly v týmu, plánuje, sleduje a vyhodnocuje činnost celého týmu. Projektový manažer musí plně rozumět odbornému specifiku svého projektu, umět pracovat s lidmi a mít schopnosti v projektovém vedení. To znamená, že se musí vyznat v otázkách nákladu a financování, dodací lhůty, podepsání smluv, kontroly kvality, komunikace a jiných, se kterými se setká během vývoje. Pro dosažení cílů projektu spojuje různé lidi různých profesi do jednoho sladěného organismu.</p>
                <p>Jedním ze základních úkolů každého vedoucího projektu je najít společnou řeč se zákazníkem, který chce vytvořit aplikace nebo informační systém pro svoji organizace, aby zjistil veškeré požadavky k systému. Když zjistí všechny nezbytné podrobnosti, a taky ocení složitost požadavků, může začít sestavovat plán a technické zadaní pro vývoj nového software nebo informačního systému.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Strategie realizace projektu</li>
                  <li>Realizace projektu: řešení problémů, kontrola kvality produktu a pod.</li>
                  <li>Koordinace komunikace mezi všemi účastníky projektu</li>
                  <li>Vedení vývojového týmu</li>
                  <li>Vedení projektové a technické dokumentace</li>
                  <li>Kontrola změn v projektu</li>
                  <li>zpracování technické a projektové dokumentace</li>
                  <li>kontrola procesů a času vývoje</li>
                  <li>účast v zavedení, testovaní a procesu vývoji software</li>
                </ul>
                <p>Vlastnosti:</p>
                <ul>
                  <li>Komunikativnost</li>
                  <li>Otevřenost, schopnost navazovat kontakty</li>
                  <li>Odpovědnost, osobnostní integrita</li>
                  <li>Schopnost řešit neobvyklé problémy a konflikty</li>
                  <li>Spravedlnost v rozhodnutích</li>
                  <li>Komplexní myšlení</li>
                  <li>Rozený vůdce</li>
                </ul>
                <p><a href="#role-12" data-target="#role-12" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r75" data-aos="fade-left" id="role-12">
            <a href="#role-12" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-database" aria-hidden="true"></i></span>
              <span class="role-name">Backend<br />developer</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Backend vývojář (angl. backend developer) - je specialista, který věnuje programové a serverové častí webové aplikace, vnitřnímu obsahu systému, serverovým technologiím - databáze, architektura, programová logika.</p>
                <p>Řečeno laicky, backend vývoj je vytvoření motoru vozidla, když frontend vývoj je tvorba designu a funkci auta. Backend vývojář těsně spolupracuje s frontend vývojářem, dostává od něj informace o uživateli a vrací zpátky zpracovaný výsledek.</p>
                <p>Základními nástroji daného specialisty jsou programovací jazyky, jako např. PHP, Python, Ruby, Java</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Vytvoření jádra aplikaci</li>
                  <li>Vývoj základních funkci aplikaci</li>
                  <li>Práce s architekturou kódu</li>
                  <li>Bezpečnost</li>
                </ul>
                <p><a href="#role-13" data-target="#role-13" class="btn btn-primary scroll-link">Další profese</a></p>
              </div> 
            </div> 
          </div> 

          <div class="role-item description-right r25" data-aos="fade-right" id="role-13">
            <a href="#role-13" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-desktop" aria-hidden="true"></i></span>
              <span class="role-name">Frontend<br />developer</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Frontend vývojář (angl. frontend developer) je programátor, který se zabývá vývojem uživatelského rozhraní tzn. vnější častí software.  Hlavním úkolem frontend developera je udělat použití webové či mobilní aplikaci maximálně pohodlným a rychlým pro uživatele.</p>
                <p>Slovo "front" označuje, že frontend developer je v první linii s koncovým uživatelem, tzn. je odpovědný za vnější funkčnost aplikace, která je v kontaktu s uživatelem.</p>
                <p>FYI, existuje programátor, který pracuje současně na backend a frontend. Daný specialista se nazývá full stack developer.</p>
                <p>Důležité vlastnosti</p>
                <ul>
                  <li>Analytické myšlení</li>
                  <li>Zodpovědnost</li>
                  <li>Pozornost drobnostem</li>
                  <li>Tvůrčí schopnosti</li>
                  <li>Schopnost dodržovat deadline</li>
                  <li>Schopnost pracovat v týmu</li>
                  <li>Zaměření na výsledky</li>
                  <li>Schopnost správně ohodnotit svoje možnosti pro řešení úkolů</li>
                  <li>Znalost front-end frameworku</li>
                  <li>znalost výstupních zařízení (PC, Mac, Smartphone)</li>
                  <li>Touha učit se novým věcem</li>
                </ul>
                <p><a href="#role-14" data-target="#role-14" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r66" data-aos="fade-left" id="role-14">
            <a href="#role-14" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-server" aria-hidden="true"></i></span>
              <span class="role-name">System<br />architect</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Systémový architekt plní důležitou projektovou roli ve vývoji software. Hlavním úkolem je projektováni architektury software, tzn. rozhodování ohledně vnitřního uspořádaní software a jeho technického prostředí. Daný specialista zpracovává, vytváří a udržuje strukturu software a hardware, jednotlivých modulů v programu nebo celého informačního systému organizace.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Projektovaní architektury servisu</li>
                  <li>zpracovaní architektury software</li>
                  <li>vývoj konceptů pro integraci dat, interakce složek software</li>
                  <li>volba metodologie a vývojového prostředí</li>
                  <li>tvorba nebo volba frameworků</li>
                </ul>
                <p><a href="#role-15" data-target="#role-15" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r33" data-aos="fade-right" id="role-15">
            <a href="#role-15" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-terminal" aria-hidden="true"></i></span>
              <span class="role-name">System<br />admin</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Systémový administrátor je specialista, který zaručuje servis počítačů a lokálních počítačových síti.  Může také spravovat servery, virtuální počítače, síťové tiskárny a jiné síťové prvky.  Daný specialista především nastavuje software, instaluje a nastavuje operační systémy, nastavuje potřebné pro firmu programy, sleduje aktualizace software.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Odstraňuje případné závady</li>
                  <li>Zajišťuje zálohování a ochranu dat</li>
                  <li>Provádí optimalizaci provozu sítě pro potřeby uživatelů.</li>
                  <li>Zajišťuje nákup a provádí instalaci nových počítačů a nového software</li>
                  <li>Zajišťuje nákup komponentů pro informační technologie v organizaci.</li>
                  <li>Zajišťuje internetové připojení</li>
                  <li>Instaluje databáze a provádí celkovou konfigurace síti.</li>
                </ul>
                <p><a href="#role-16" data-target="#role-16" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-left r75" data-aos="fade-left" id="role-16">
            <a href="#role-16" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-database" aria-hidden="true"></i></span>
              <span class="role-name">Databazový<br />specialista</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Databázový specialista neboli databázový administrátor je specialista na ochranu a zpracování dát. Má za úkol instalaci, provoz a správu informačních databázových systémů. V některých případech má na starosti také analýzu, vytvoření požadavků a návrh databázového systému. Zajišťuje nepřetržitý provoz databáze a přístup uživatelů k serveru, zachovává integritu systému.</p>
                <p>Povinnosti:</p>
                <ul>
                  <li>Projektováni - vybudovat databáze, vymyslet její strukturu (model), v souladu s kterou budou data přidávané do báze.</li>
                  <li>Optimalizace databáze</li>
                  <li>Bezpečnost - kontrola přístupu k databázi</li>
                </ul>
                <p><a href="#role-17" data-target="#role-17" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r25" data-aos="fade-right" id="role-17">
            <a href="#role-17" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
              <span class="role-name">UX specialista</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Specialista uživatelského prostředí neboli User experience specialista zkoumá, analyzuje a vylepšuje uživatelské rozhraní webových a mobilních aplikaci s cílem vytvoření “přátelštějšího” (“user-friendly”) rozhraní a jako výsledek pro obdržení vysoké konverze a zvýšení tempa prodeje.</p>
                <p>Pro úspěšnou práce specialista musí přemýšlet jako uživatel, na kterého je zaměřen daný projekt, aby pochopil, nakolik je interface komfortní v použití a co je třeba v aplikaci změnit, aby vyhovovala uživateli. Zkoumá recenze uživatele a jejich chovaní ale taky bere v úvahu jiné faktory jako čas, rozpočet a technické omezení zdroje.</p>
                <p>Usability-specialista může pracovat na nových projektech, kde uživatelské rozhraní je vytvořeno od nuly. Často jsou pozvané jako experti pro existující aplikaci za účelem modernizace uživatelského rozhraní, navigace a designu.</p>
                <p><a href="#role-19" data-target="#role-19" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>
          <div class="role-item description-left r66" data-aos="fade-right" id="role-19">
            <a href="#role-19" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-wrench" aria-hidden="true"></i></span>
              <span class="role-name">Tester</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Tester software - je specialista, který provádí testování software, kontroluje jeho kvalitu. v podstatě, daný specialista kontroluje, jestli software odpovídá zadaným požadavkům. Provádí to pomocí modelování různých situaci, ve kterých tester kontroluje nakolik dobře funguji jednotlivé funkce programu.</p>
                <p>Tester sestavuje scénáře testování a pak je sám realizuje. Zpracovává metody testování, konkretně v některých případech může používat systém automatizace testování pro provádění stejných procesu s různým nastavením.</p>
                <p>Úkolem testera je zpracovat maximálně podrobnou zprávu o testování, která zahrnuje v sobě analýzu a příčiny případných nedostatků.</p>
                <p><a href="#role-20" data-target="#role-20" class="btn btn-primary scroll-link">Další profese</a></p>
              </div>
            </div>
          </div>

          <div class="role-item description-right r33" data-aos="fade-left" id="role-20">
            <a href="#role-20" class="role-person-link scroll-link">
              <span class="role-photo"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span>
              <span class="role-name">Client<br />support</span>
            </a>
            <div class="role-description">
              <span class="fa fa-lg fa-times p-l-4 p-t-2 pointer"> </span> 
              <div class="role-description-in">
                <p>Client support neboli zákaznická podpora míní poskytnutí podpory zákazníkovi při nasazování, provozu a rozvoji mobilních a webových aplikaci. Má na starosti jak potenciální uživateli a jejich adaptace a školení v novém pro ně systému, tak i konzultace a složitější otázky úprav a rozvoje systému pro stále uživatele. Zákaznická podpora hraje velkou role v komunikaci mezi dodavatelem a uživatelem a často je důležitou součásti úspěšného obchodu.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="circles" style="top: 0px;">
      <div data-aos="zoom-in" class="circle index1 yellow"></div>
      <div data-aos="zoom-in" class="circle index2 yellow"></div>
      <div data-aos="zoom-in" class="circle index3 yellow"></div>
      <div data-aos="zoom-in" class="circle index1 orange"></div>
      <div data-aos="zoom-in" class="circle index2 orange"></div>
      <div data-aos="zoom-in" class="circle index3 orange"></div>
      <div data-aos="zoom-in" class="circle index1 blue"></div>
      <div data-aos="zoom-in" class="circle index2 blue"></div>
      <div data-aos="zoom-in" class="circle index3 blue"></div>
      <div data-aos="zoom-in" class="circle index1 green"></div>
      <div data-aos="zoom-in" class="circle index2 green"></div>
      <div data-aos="zoom-in" class="circle index3 green"></div>
    </div>

    <%= partial 'footer' %>