<ul class="nav-dots" id="dot-nav">
    <li class="current"><a href="#one"></a></li>
    <li><a href="#two"></a></li>
    <li><a href="#technologie"></a></a></li>
    <li><a href="#tym"></a></li>
    <li><a href="#kontrola"></a></li>
    <li><a href="#testovani"></a></li>
</ul>

<div class="content development">
    <div class="background-image-full">
        <img src="/images/educational_content/development.jpg" alt="vývoj webových a mobilních aplikací" class="">
        <div class="img-cover" id="img-cover"></div>
    </div>

    <div class="full-page transparent image-background section" id="one" data-color="rgba(72, 81, 90, 0.8)">
        <div class="circles" style="top: 0px;">
            <div data-aos="zoom-in" class="circle index1 yellow"></div>
            <div data-aos="zoom-in" class="circle index2 yellow"></div>
            <div data-aos="zoom-in" class="circle index3 yellow"></div>
            <div data-aos="zoom-in" class="circle index1 orange"></div>
            <div data-aos="zoom-in" class="circle index2 orange"></div>
            <div data-aos="zoom-in" class="circle index3 orange"></div>
            <div data-aos="zoom-in" class="circle index1 blue"></div>
            <div data-aos="zoom-in" class="circle index2 blue"></div>
            <div data-aos="zoom-in" class="circle index3 blue"></div>
            <div data-aos="zoom-in" class="circle index1 green"></div>
            <div data-aos="zoom-in" class="circle index2 green"></div>
            <div data-aos="zoom-in" class="circle index3 green"></div>
        </div>
            <div class="narrow motto text-center text-white">
                <div class="back-fixed ico-shadow" data-aos="fade-left">
                    <a href="/"><i class="fa fa-3x fa-arrow-left"></i></a>
                </div>
                <div class="ico-shadow start-up">
               <img src="/images/educational_content/startup-ico.svg" alt="startup">
             </div>
             <div class="row"><h4 class="subtitle" data-aos="fade-up">Vývoj</h4></div>
                <div class="row"><h1 class="title-1" data-aos="fade-up">Co dělat v průběhu vývoje?</h1></div>
                <div class="row">
                    <p class="text-center">K dosažení určených cílů musí zákazník a dodavatel spolu vyřešit řadu zcela specifických úkolů.</p>
                </div>
            </div>

        <a href="#two" class="ico-shadow arrow-down scroll-link">
            <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
        </a>
    </div>

    <div class="full-page section" id="two" data-color="rgba(255, 255, 255, 0.91)">
            <div class="wrapper flex">
                <div class="left flex text">
                    <div class="number"><span>1</span></div>
                    <h2>Návrh architektury</h2>
                    <div class="separator">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>Návrh architektury i menších implementací těmi nejzkušenějšími systémovými architekty</p>
                </div>
                <div class="right flex image">
                    <img src="/images/educational_content/ilustrace_01.svg" alt="návrh architektury">
                </div>
            </div>

        <a href="#technologie" class="ico-shadow arrow-down scroll-link">
            <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
        </a>
    </div>

    <div class="full-page section" id="technologie">
            <div class="wrapper flex">
                <div class="left flex image">
                    <img src="/images/educational_content/ilustrace_02.svg" alt="volba technologií pro vývoj aplikace">
                </div>
                <div class="right flex text">
                    <div class="number"><span>2</span></div>
                    <h2>Volba technologií</h2>
                    <div class="separator">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>Volba technologií i integrovaných služeb tak, abychom i sami sebe posouvali technologicky vždy o krok dál.</p>
                </div>

            </div>

        <a href="#tym" class="ico-shadow arrow-down scroll-link">
            <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
        </a>
    </div>

    <div class="full-page section" id="tym">
            <div class="wrapper flex">
                <div class="left flex text">
                    <div class="number"><span>3</span></div>
                    <h2>Sestavení týmu</h2>
                    <div class="separator">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>Citlivé sestavení týmu tak, aby na každé části pracoval nejvhodnější vývojář, který má s konkrétními úkoly co nejširší zkušenosti.</p>
                </div>
                <div class="right flex image">
                    <img src="/images/educational_content/ilustrace_03.svg" alt="sestavení týmu pro vývoj aplikace">
                </div>
            </div>

        <a href="#kontrola" class="ico-shadow arrow-down scroll-link">
            <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
        </a>
    </div>

    <div class="full-page section" id="kontrola">
            <div class="wrapper flex">
                <div class="left flex image">
                    <img src="/images/educational_content/ilustrace_04.svg" alt="kontrola výstupu">
                </div>
                <div class="right flex text">
                    <div class="number"><span>4</span></div>
                    <h2>Kontrola výstupu</h2>
                    <div class="separator">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>Zpětná kontrola zdrojového kódu a případný refactoring již před předáním klientovi.</p>
                </div>

            </div>

        <a href="#testovani" class="ico-shadow arrow-down scroll-link">
            <img src="/images/educational_content/arrow-down.svg" alt="šipka dole">
        </a>
    </div>

    <div class="full-page section" id="testovani">
            <div class="wrapper flex">
                <div class="left flex text">
                    <div class="number"><span>5</span></div>
                    <h2>Testování</h2>
                    <div class="separator">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>Důkladné testování automatizovanými nástroji i precizními testery.</p>
                </div>
                <div class="right flex image">
                    <img src="/images/educational_content/ilustrace_05.svg" alt="testování aplikace">
                </div>
            </div>
            <%= partial 'footer' %>
    </div>
</div>
